<footer class="footer-wrapper footer-layout2"
style="background-image: url('/img/bg/footer_bg_2.png');">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <!-- <div class="about-logo"><a href="index.html"><img src="/img/logo.svg"
                                        alt="Insurax"></a></div> -->
                                        <div class="about-logo">
                                          <a href="index.html" style="font-size: 24px; font-weight: bold; color: #fff; text-transform: uppercase;">
                                            AADI FINTECH
                                          </a>
                                        </div>

                            <p class="about-text">There are several insurance solutions available to address
                              Empowering businesses with strategic financial solutions, innovative fintech services, and expert wealth management insights to drive sustainable growth.</p>
                            <div class="th-social"><a href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                        class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                        class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.com/"><i
                                        class="fab fa-behance"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Useful Links</h3>
                        <div class="menu-all-pages-container">
                          <ul class="menu">
                            <li><a href="about.html"><i class="fas fa-angle-right me-2"></i> About Us</a></li>
                            <li><a href="service.html"><i class="fas fa-angle-right me-2"></i> Services</a></li>
                            <li><a href="portfolio.html"><i class="fas fa-angle-right me-2"></i> Become Partner</a></li>
                            <li><a href="blog.html"><i class="fas fa-angle-right me-2"></i> Our Team</a></li>
                            <li><a href="contact.html"><i class="fas fa-angle-right me-2"></i> Contact Us</a></li>
                          </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Information</h3>
                        <div class="th-widget-contact">
                            <div class="info-wrap">
                                <p class="info-wrap_text">i-THUM Building, Tower - A,
                                  Sector - 62, Noida, Uttar Pradesh - 201301</p>
                            </div>
                            <div class="info-wrap">
                                <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                            </div>
                            <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 9953656810
                                </a><a href="mailto:infoinsurax.com" class="info-wrap_link">customer.care&#64;aadifintech.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img"><a href="blog-details.html"><img
                                            src="/img/blog/recent-post-1-1.png" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-post-meta"><a href="blog.html">21 March, 2023</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Be
                                            prepared for anything With our insurance.</a></h4>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img"><a href="blog-details.html"><img
                                            src="/img/blog/recent-post-1-2.png" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-post-meta"><a href="blog.html">22 June, 2023</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Trust us
                                            to protect what you love most.</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap bg-title">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p class="copyright-text text-center pb-md-0 pb-4"><i class="fal fa-copyright"></i> Website developed by <a href="#">Aadi Fintech.</a></p>
                </div>
                <div class="col-auto">
                    <div class="footer-links">
                        <ul>
                            <li><a href="contact.html">Privacy</a></li>
                            <li><a href="contact.html">Terms & Condition</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
