<!-- <div class="preloader"><button class="th-btn style2 preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner"><span class="loader"></span></div>
</div> -->
<!-- <div class="sidemenu-wrapper d-none d-lg-block">
    <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget">
            <div class="th-widget-about">
                <div class="about-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
                <p class="about-text">There are several insurance solutions available to address specific needs and
                    risks that individuals or businesses may face. Best solution is here.</p>
                <div class="th-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                        href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                        href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                        href="https://www.behance.com/"><i class="fab fa-behance"></i></a></div>
            </div>
        </div>
        <div class="widget">
            <h3 class="widget_title">Information</h3>
            <div class="th-widget-contact">
                <div class="info-wrap">
                    <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                </div>
                <div class="info-wrap">
                    <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                </div>
                <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65 </a><a
                        href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a></div>
            </div>
        </div>
        <div class="widget widget_nav_menu">
            <h3 class="widget_title">Company</h3>
            <div class="menu-all-pages-container">
                <ul class="menu">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="service.html">Last Services</a></li>
                    <li><a href="portfolio.html">Photos Gallery</a></li>
                    <li><a href="blog.html">Blog Standard</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block"><button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#"><input type="text" placeholder="What are you looking for?"> <button type="submit"><i
                class="fal fa-search"></i></button></form>
</div>
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children"><a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home 01</a></li>
                        <li><a href="home-2.html">Home 02</a></li>
                        <li><a href="home-3.html">Home 03</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="appointment.html">Appointment</a></li>
                        <li><a href="pricing.html">Pricing Plan</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="team-details.html">Team Details</a></li>
                        <li><a href="error.html">Error Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Insurance</a>
                    <ul class="sub-menu">
                        <li><a href="service.html">Insurance Page</a></li>
                        <li><a href="service-details.html">Insurance Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                    <ul class="sub-menu">
                        <li><a href="project.html">Portfolio</a></li>
                        <li><a href="project-details.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">News</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog Page</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="th-header header-layout1">
    <div class="sticky-wrapper">
        <div class="menu-area">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo"><a href="index.html"><img src="/img/logo.svg"
                                    alt="Insurax"></a></div>
                    </div>
                    <div class="col-auto me-xxl-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li class="menu-item-has-children"><a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="home-2.html">Home 02</a></li>
                                        <li><a href="home-3.html">Home 03</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="appointment.html">Appointment</a></li>
                                        <li><a href="pricing.html">Pricing Plan</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="team-details.html">Team Details</a></li>
                                        <li><a href="error.html">Error Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Insurance</a>
                                    <ul class="sub-menu">
                                        <li><a href="service.html">Insurance Page</a></li>
                                        <li><a href="service-details.html">Insurance Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                                    <ul class="sub-menu">
                                        <li><a href="project.html">Portfolio</a></li>
                                        <li><a href="project-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">News</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog Page</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="/contact">Contact</a></li>
                            </ul>
                        </nav><button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i
                                class="far fa-bars"></i></button>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <div class="header-button"><button type="button" class="icon-btn searchBoxToggler"><i
                                    class="far fa-search"></i></button> <button type="button"
                                class="icon-btn sideMenuToggler"><span class="grid-icon"><span
                                        class="grid-icon-dot"></span> <span class="grid-icon-dot2"></span> <span
                                        class="grid-icon-dot3"></span></span></button>
                            <div class="header-info">
                                <div class="header-info_icon"><i class="fas fa-phone-plus"></i></div>
                                <div class="media-body"><span class="header-info_label">Need Help? Talk with
                                        Us</span>
                                    <p class="header-info_link"><a href="tel:+1539873657">+111 (458 586 558)</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> -->
<div class="breadcumb-wrapper"  data-overlay="black"
    data-opacity="8"
    style="background-image: url('/img/breadcumb/breadcrumb-bg.png');"
    >
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Become Partner</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Become Partner</li>
            </ul>
        </div>
    </div>
</div>



<!-- third -->

<section class="service-sec mb-5 mt-5">
  <div class="container">
    <div class="row justify-content-center service-slider2 th-carousel" data-slide-show="3"
        data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">

      <!-- Partner with Us for Loan Syndication -->
      <div class="col-lg-4 col-md-6">
        <div class="service-grid style4">
          <div class="service-bg-shape">
            <img src="/img/shape/service-box-shape2.png" alt="shape">
          </div>
          <div class="service-box_icon">
            <div class="global-icon">
              <img src="/img/icon/service_icon_about_1.svg" alt="Loan Partnership">
            </div>
          </div>
          <div class="service-grid_content">
            <h3 class="service-title h5"><a href="partner.html">Loan Syndication Partner</a></h3>
            <p class="service-grid_text">Collaborate with us to offer clients structured loan and fundraising solutions through trusted financial channels.</p>
          </div>
        </div>
      </div>

      <!-- CRM & Tech Partner -->
      <div class="col-lg-4 col-md-6">
        <div class="service-grid style4">
          <div class="service-bg-shape">
            <img src="/img/shape/service-box-shape2.png" alt="shape">
          </div>
          <div class="service-box_icon">
            <div class="global-icon">
              <img src="/img/icon/service_icon_about_2.svg" alt="Tech Partnership">
            </div>
          </div>
          <div class="service-grid_content">
            <h3 class="service-title h5"><a href="partner.html">CRM & Technology Partner</a></h3>
            <p class="service-grid_text">Partner with Aadi Fintech to deploy fintech and CRM systems that transform business operations for your clients.</p>
          </div>
        </div>
      </div>

      <!-- Compliance & Advisory Partner -->
      <div class="col-lg-4 col-md-6">
        <div class="service-grid style4">
          <div class="service-bg-shape">
            <img src="/img/shape/service-box-shape2.png" alt="shape">
          </div>
          <div class="service-box_icon">
            <div class="global-icon">
              <img src="/img/icon/service_icon_about_3.svg" alt="Compliance Partnership">
            </div>
          </div>
          <div class="service-grid_content">
            <h3 class="service-title h5"><a href="partner.html">Compliance & Advisory Partner</a></h3>
            <p class="service-grid_text">Join us to deliver expert compliance support, credit advisory, and risk management services to a wide client base.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>




<!-- four -->

<div class="feature-area-2 overflow-hidden">
  <div class="position-relative">
    <div class="img-half img-left feature-thumb-2" style="border: 5px solid gray; border-right: none;">
      <img src="/img/partner/becomepartner.png" alt="Partner with Aadi Fintech">
      <div class="shape-mockup jump z-index-3 d-sm-block d-none" data-right="0" data-bottom="0" style="width: 450px;border: 10px solid gray;border-bottom: none;">
        <img src="/img/partner/beomepartner2.png" alt="Aadi Fintech collaboration team">
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-lg-end">
        <div class="col-xl-5 col-lg-6">
          <div class="title-area space-bottom mb-0 ms-xl-0 ms-lg-4 ms-0 text-center text-lg-start">
            <span class="sub-title">Become Our Partner</span>
            <h2 class="sec-title">Join Hands With Aadi Fintech for Mutual Growth</h2>
            <p class="mt-30 mb-40">Whether you're a consultant, fintech advisor, or real estate professional, partnering with Aadi Fintech opens new avenues for growth. Let's work together to bring innovative financial solutions to businesses across India. Connect with us at <strong>9953656810</strong>.</p>
            <div class="feature-circle-wrap">
              <div class="feature-circle">
                <div class="progressbar">
                  <div class="circle" data-percent="90">
                    <div class="circle-num">90%</div>
                  </div>
                  <div class="feature-circle_content">
                    <h5 class="feature-circle_title">Partner Satisfaction</h5>
                    <p class="feature-circle_text">We build transparent and result-driven collaborations that ensure mutual benefits and growth.</p>
                  </div>
                </div>
              </div>
              <div class="feature-circle">
                <div class="progressbar">
                  <div class="circle" data-percent="85">
                    <div class="circle-num">85%</div>
                  </div>
                  <div class="feature-circle_content">
                    <h5 class="feature-circle_title">Business Expansion Rate</h5>
                    <p class="feature-circle_text">Our partners experience significant business growth by leveraging Aadi Fintech’s network and expertise.</p>
                  </div>
                </div>
              </div>
            </div> <!-- feature-circle-wrap -->
          </div> <!-- title-area -->
        </div>
      </div>
    </div>
  </div>
</div>



<!-- five -->
<section class="cta-sec6 space text-center text-lg-start overflow-hidden mt-5 mb-5" data-bg-src="/img/bg/cta_bg_5.png"
    data-overlay="black" data-opacity="8">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <div class="title-area mb-0">
                    <span class="sub-title style3">Partner With Aadi Fintech</span>
                    <h2 class="sec-title style2 text-white">Let's Grow Together Through Strategic Collaboration</h2>
                </div>
            </div>
            <div class="col-lg-auto mt-5 mt-lg-0 align-self-center">
                <div class="cta-contact-wrap text-center">
                    <h6 class="subtitle">Want to Collaborate with Us?</h6>
                    <h3 class="title"><a href="tel:+919953656810">+91 9953656810</a></h3>
                    <a href="/contact" class="th-btn">Become a Partner <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-mockup d-none d-xl-block" data-right="0" data-bottom="0">
        <img src="/img/shape/cta-6-shape.png" alt="Become Our Partner - Aadi Fintech">
    </div>
</section>






<div class="container">
    <div class="bg-theme subscribe-sec">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="title-area mb-lg-0">
                    <h2 class="sec-title text-white mb-0">Subscribe Our Newsletter<br class="d-md-block d-none">Get
                        update</h2>
                </div>
            </div>
            <div class="col-xl-auto col-lg-6 align-self-center">
                <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                        required=""> <button type="submit" class="th-btn">Subscribe</button></form>
            </div>
        </div>
    </div>
</div>
<!-- <footer class="footer-wrapper footer-layout2"
style="background-image: url('/img/bg/footer_bg_2.png');"
>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo"><a href="index.html"><img src="/img/logo.svg"
                                        alt="Insurax"></a></div>
                            <p class="about-text">There are several insurance solutions available to address
                                specific needs and risks that individuals or businesses may face. Best solution is
                                here.</p>
                            <div class="th-social"><a href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                        class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                        class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.com/"><i
                                        class="fab fa-behance"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Company</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="service.html">Last Services</a></li>
                                <li><a href="portfolio.html">Photos Gallery</a></li>
                                <li><a href="blog.html">Blog Standard</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Information</h3>
                        <div class="th-widget-contact">
                            <div class="info-wrap">
                                <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                            </div>
                            <div class="info-wrap">
                                <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                            </div>
                            <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65
                                </a><a href="mailto:infoinsurax.com" class="info-wrap_link">infainsurax.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img"><a href="blog-details.html"><img
                                            src="/img/blog/recent-post-1-1.png" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-post-meta"><a href="blog.html">21 March, 2023</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Be
                                            prepared for anything With our insurance.</a></h4>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img"><a href="blog-details.html"><img
                                            src="/img/blog/recent-post-1-2.png" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-post-meta"><a href="blog.html">22 June, 2023</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Trust us
                                            to protect what you love most.</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap bg-title">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p class="copyright-text text-center pb-md-0 pb-4"><i class="fal fa-copyright"></i> 2023 All
                        Rights Reserved By <a href="#">Insurax.</a></p>
                </div>
                <div class="col-auto">
                    <div class="footer-links">
                        <ul>
                            <li><a href="contact.html">Privacy</a></li>
                            <li><a href="contact.html">Terms & Condition</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer> -->
