<div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcrumb-bg.png" data-overlay="black" data-opacity="8">
  <div class="container">
    <div class="breadcumb-content">
      <h1 class="breadcumb-title" style="font-size: 30px;">Tech Services</h1>
      <ul class="breadcumb-menu">
        <li><a href="index.html">Home</a></li>
        <li>Tech Services</li>
      </ul>
    </div>
  </div>
</div>
<section class="service-sec space-bottom space">
  <div class="container">
    <div class="title-area text-center">
      <span class="sub-title">Our Services</span>
      <h2 class="sec-title">Tech Services in Aadifintech</h2>
    </div>
    <div class="row gy-4 justify-content-center">

      <!-- Web Development -->
      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_1.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_1.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4">Web Development</h3>
            <p class="service-card_text">
              Our expert team builds responsive, fast, and scalable websites tailored to your brand needs.
            </p>
            <a href="https://wa.me/919953656810?text=Hello%20Aadifintech.com%20Team%2C%0AI%E2%80%99m%20interested%20in%20your%20*Web%20Development*%20service.%20Please%20share%20more%20details%2C%20pricing%20and%20next%20steps.%0AThank%20you%21%0A%E2%80%93%20Sent%20via%20Aadifintech.com"
               target="_blank" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <!-- Mobile App Development -->
      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_2.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_4.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4">Mobile App Development</h3>
            <p class="service-card_text">
              We design secure and intuitive mobile apps with seamless performance on all platforms.
            </p>
            <a href="https://wa.me/919953656810?text=Hello%20Aadifintech.com%20Team%2C%0AI%E2%80%99m%20interested%20in%20your%20*Mobile%20App%20Development*%20service.%20Please%20share%20more%20details%2C%20pricing%20and%20next%20steps.%0AThank%20you%21%0A%E2%80%93%20Sent%20via%20Aadifintech.com"
               target="_blank" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <!-- UI/UX Design -->
      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_3.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_5.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4">UI/UX Design</h3>
            <p class="service-card_text">
              Our creative team designs user-first interfaces that improve customer engagement and flow.
            </p>
            <a href="https://wa.me/919953656810?text=Hello%20Aadifintech.com%20Team%2C%0AI%E2%80%99m%20interested%20in%20your%20*UI%2FUX%20Design*%20service.%20Please%20share%20more%20details%2C%20pricing%20and%20next%20steps.%0AThank%20you%21%0A%E2%80%93%20Sent%20via%20Aadifintech.com"
               target="_blank" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <!-- Cloud Solutions -->
      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_4.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_2.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4">Cloud Solutions</h3>
            <p class="service-card_text">
              We provide smart cloud strategies for storage, security, and scalable business operations.
            </p>
            <a href="https://wa.me/919953656810?text=Hello%20Aadifintech.com%20Team%2C%0AI%E2%80%99m%20interested%20in%20your%20*Cloud%20Solutions*%20service.%20Please%20share%20more%20details%2C%20pricing%20and%20next%20steps.%0AThank%20you%21%0A%E2%80%93%20Sent%20via%20Aadifintech.com"
               target="_blank" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <!-- Digital Marketing -->
      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_5.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_3.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4">Digital Marketing</h3>
            <p class="service-card_text">
              Our campaigns help boost brand visibility through SEO, ads, and performance analytics.
            </p>
            <a href="https://wa.me/919953656810?text=Hello%20Aadifintech.com%20Team%2C%0AI%E2%80%99m%20interested%20in%20your%20*Digital%20Marketing*%20service.%20Please%20share%20more%20details%2C%20pricing%20and%20next%20steps.%0AThank%20you%21%0A%E2%80%93%20Sent%20via%20Aadifintech.com"
               target="_blank" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <!-- Software Testing -->
      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_6.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_6.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4">Software Testing</h3>
            <p class="service-card_text">
              We ensure software reliability and performance through end-to-end QA and bug detection.
            </p>
            <a href="https://wa.me/919953656810?text=Hello%20Aadifintech.com%20Team%2C%0AI%E2%80%99m%20interested%20in%20your%20*Software%20Testing*%20service.%20Please%20share%20more%20details%2C%20pricing%20and%20next%20steps.%0AThank%20you%21%0A%E2%80%93%20Sent%20via%20Aadifintech.com"
               target="_blank" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="feature-area-3 bg-smoke overflow-hidden">
  <div class="shape-mockup jump-reverse d-none d-xl-block" data-top="-20px" data-left="0">
    <img src="/img/bg/why_bg_shape.png" alt="shape">
  </div>
  <div class="space position-relative z-index-3">
    <div class="img-half img-right video-box2 z-index-1">
      <img src="/img/normal/wcu-thumb-1.png" alt="img">
      <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style4 popup-video">
        <i class="fa-sharp fa-solid fa-play"></i>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="me-xxl-5 pe-xxl-4">
            <div class="title-area mb-40 text-center text-lg-start">
              <span class="sub-title">Why Choose Us</span>
              <h2 class="sec-title">Comprehensive Tech Services for Growth</h2>
              <p class="sec-text mt-30">
                We deliver end-to-end technology services including custom software development, IT consulting, and
                process automation to help businesses stay ahead in a rapidly changing tech landscape.
              </p>
            </div>
          </div>
          <div class="feature-slider-wrap">
            <div class="row th-carousel feature-slider" data-slide-show="3" data-lg-slide-show="2"
              data-md-slide-show="2" data-sm-slide-show="2" data-arrows="false">

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-box style2">
                  <div class="service-box_icon">
                    <img src="/img/icon/wcu-icon-2-1.svg" alt="Icon">
                  </div>
                  <h3 class="service-box_title h6">
                    <a href="service-details.html">Custom Software Development</a>
                  </h3>
                  <p class="service-box_text">We build tailored software solutions that meet your unique business needs.
                  </p>
                </div>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-box style2">
                  <div class="service-box_icon">
                    <img src="/img/icon/wcu-icon-2-2.svg" alt="Icon">
                  </div>
                  <h3 class="service-box_title h6">
                    <a href="service-details.html">Process Automation</a>
                  </h3>
                  <p class="service-box_text">Automate key processes to improve efficiency and reduce operational costs.
                  </p>
                </div>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-box style2">
                  <div class="service-box_icon">
                    <img src="/img/icon/wcu-icon-2-3.svg" alt="Icon">
                  </div>
                  <h3 class="service-box_title h6">
                    <a href="service-details.html">Cloud Solutions</a>
                  </h3>
                  <p class="service-box_text">Implement scalable cloud infrastructure to streamline your operations.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="counter-sec1 mt-5" style="background-image: url('/img/bg/fact_bg_1.png');">
  <div class="container">
    <div class="row gy-40 justify-content-between">

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-1.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">300</span>+</h3>
          <p class="counter-wrap_text text-white">Projects Completed Successfully</p>
        </div>
      </div>

      <div class="col-auto d-lg-block d-none">
        <div class="counter-divider"></div>
      </div>

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-2.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">500</span>+</h3>
          <p class="counter-wrap_text text-white">Clients Served Across Industries</p>
        </div>
      </div>

      <div class="col-auto d-lg-block d-none">
        <div class="counter-divider"></div>
      </div>

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-3.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">120</span>+</h3>
          <p class="counter-wrap_text text-white">Software Solutions Deployed</p>
        </div>
      </div>

      <div class="col-auto d-lg-block d-none">
        <div class="counter-divider"></div>
      </div>

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-4.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">80</span>+</h3>
          <p class="counter-wrap_text text-white">Successful Automation Projects</p>
        </div>
      </div>

    </div>
  </div>
</div> -->


<!-- CTA Section -->
<section id="apply" class="cta-section mt-4">
  <div class="container text-center">
    <h2 class="mb-4" style="color: #fff;">Ready to Take the Next Step?</h2>
    <p class="lead mb-5" style="color: #fff;">
      Whether you need funds for business growth, education, or personal needs, our expert team is here to guide you.
      Get customized financing solutions that suit your goals – simple, fast, and hassle-free.
    </p>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <a (click)="openForm()" class="btn btn-light btn-lg me-3 px-5 py-3">
          Get Started Today
        </a>
      </div>
    </div>
  </div>
</section>
c

<app-popup-form></app-popup-form>




<div class="container mt-5">
  <div class="bg-theme subscribe-sec">
    <div class="row justify-content-between">
      <div class="col-xl-5 col-lg-6">
        <div class="title-area mb-lg-0">
          <h2 class="sec-title text-white mb-0">Contact Our Aadifintech<br class="d-md-block d-none">Get
            update</h2>
        </div>
      </div>
      <div class="col-xl-auto col-lg-6 align-self-center">
        <!-- <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address" required="">
        </form> -->
        <button type="submit" class="th-btn" style="border: 1px solid black; background-color: #fff; color: black;" (click)="openForm()">Contact</button>
      </div>
    </div>
  </div>
</div>