<div class="breadcumb-wrapper" data-overlay="black" data-opacity="8"
    style="background-image: url('/img/breadcumb/breadcrumb-bg.png');">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Team Member</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Team Member</li>
            </ul>
        </div>
    </div>
</div>

<section class="">
    <div class="container">
        <!-- First Row - 3 Members -->
        <div class="row gy-4 mb-4 justify-content-center mt-4">
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00159.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Aakash</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00185.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Ankita</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00139.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Anshika</h3>
                    </div>
                </div>
            </div>
        </div>

         <div class="row gy-4 mb-4 justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00140.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Chandan</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00160.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Jiya</h3>
                    </div>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-lg-4">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00139.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Anshika</h3>
                    </div>
                </div>
            </div> -->
        </div>

        <!-- Second Row - 2 Members Centered -->
        <!-- <div class="row gy-4 justify-content-center">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00140.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Chandan</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img">
                            <img src="/img/team/DSC00160.jpg" alt="Team">
                        </div>
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Jiya</h3>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>

<!-- Team Group Photos Section -->
<section class="" style="padding-bottom: 100px;">
    <div class="container">
        <div class="title-area text-center mb-8">
            <span class="sub-title" style="color: #dd3333;">Our Team </span>
            <!-- <h2 class="sec-title">Moments That Matter</h2> -->
        </div>
        
        <div class="row gy-4 justify-content-center">
            <!-- First Group Image -->
            <div class="col-md-6">
                <div class="team-group-card">
                    <div class="group-img-wrap">
                        <img src="/img/team/DSC00312.jpg" alt="Team Group">
                        <div class="group-overlay">
                            <h4 class="group-title">Team Collaboration</h4>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Second Group Image -->
            <div class="col-md-6">
                <div class="team-group-card">
                    <div class="group-img-wrap">
                        <img src="/img/team/DSC00353.jpg" alt="Team Group">
                        <div class="group-overlay">
                            <h4 class="group-title">Office Moments</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="bg-theme subscribe-sec">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="title-area mb-lg-0">
                    <h2 class="sec-title text-white mb-0">Subscribe Our Newsletter<br class="d-md-block d-none">Get
                        update</h2>
                </div>
            </div>
            <div class="col-xl-auto col-lg-6 align-self-center">
                <form class="newsletter-form">
                    <input class="form-control" type="email" placeholder="Email Address" required=""> 
                    <button type="submit" class="th-btn">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>