<div class="breadcumb-wrapper" data-overlay="black" data-opacity="8"
    style="background-image: url('/img/breadcumb/breadcrumb-bg.png');">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Team Member</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Team Member</li>
            </ul>
        </div>
    </div>
</div>




<!-- this under development code start -->


<!-- <div class="stars"></div>
  <div class="stars2"></div>
  <div class="stars3"></div>

  <div class="main-content container">
    <h1>🚧 Team Page is Under Development</h1>
    <p class="subtitle">We're working hard to bring something amazing!</p>
    <a href="#" class="btn-dev">Back to Home</a>
  </div> -->





<!-- this end under development code  -->

<!--  when i get team data then un comment this section -->
<section class="space">
    <div class="container">
        <div class="row gy-30">
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img"><img src="/img/team/team3.jpg" alt="Team"></div>
                        <!-- <div class="team-social-activate"><a href="#" class="team-social-activate_btn"><i
                                    class="far fa-plus"></i></a>
                            <div class="team-social"><a target="_blank" href="https://facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a target="_blank"
                                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                    href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div> -->
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Anshika</h3>
                        <!-- <span
                            class="team-desig">Sr. Manager</span> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img"><img src="/img/team/team5.jpg" alt="Team"></div>
                        <!-- <div class="team-social-activate"><a href="#" class="team-social-activate_btn"><i
                                    class="far fa-plus"></i></a>
                            <div class="team-social"><a target="_blank" href="https://facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a target="_blank"
                                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                    href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div> -->
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Ankita</h3>
                        <!-- <span
                            class="team-desig">UI Designer</span> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img"><img src="/img/team/team6.jpg" alt="Team"></div>
                        <!-- <div class="team-social-activate"><a href="#" class="team-social-activate_btn"><i
                                    class="far fa-plus"></i></a>
                            <div class="team-social"><a target="_blank" href="https://facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a target="_blank"
                                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                    href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div> -->
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Chandan</h3>
                        <!-- <span
                            class="team-desig">Web Designer</span> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img"><img src="/img/team/team7.jpg" alt="Team"></div>
                        <!-- <div class="team-social-activate"><a href="#" class="team-social-activate_btn"><i
                                    class="far fa-plus"></i></a>
                            <div class="team-social"><a target="_blank" href="https://facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a target="_blank"
                                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                    href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div> -->
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Kratika</h3>
                        <!-- <span
                            class="team-desig">Founder & CEO</span> -->
                    </div>
                </div>
            </div>


            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="th-team team-card">
                    <div class="team-img-wrap">
                        <div class="team-img"><img src="/img/team/team2.jpg" alt="Team"></div>
                        <!-- <div class="team-social-activate"><a href="#" class="team-social-activate_btn"><i
                                    class="far fa-plus"></i></a>
                            <div class="team-social"><a target="_blank" href="https://facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a target="_blank"
                                    href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a target="_blank"
                                    href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a></div>
                        </div> -->
                    </div>
                    <div class="team-content">
                        <h3 class="team-title">Akash</h3>
                        <!-- <span class="team-desig">Founder & CEO</span> -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<div class="container">
    <div class="bg-theme subscribe-sec">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="title-area mb-lg-0">
                    <h2 class="sec-title text-white mb-0">Subscribe Our Newsletter<br class="d-md-block d-none">Get
                        update</h2>
                </div>
            </div>
            <div class="col-xl-auto col-lg-6 align-self-center">
                <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                        required=""> <button type="submit" class="th-btn">Subscribe</button></form>
            </div>
        </div>
    </div>
</div> 