 
    <!-- <div class="preloader"><button class="th-btn style2 preloaderCls">Cancel Preloader</button>
        <div class="preloader-inner"><span class="loader"></span></div>
    </div> -->
    <div class="sidemenu-wrapper d-none d-lg-block">
        <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
            <div class="widget">
                <div class="th-widget-about">
                    <div class="about-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
                    <p class="about-text">There are several insurance solutions available to address specific needs and
                        risks that individuals or businesses may face. Best solution is here.</p>
                    <div class="th-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                            href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                            href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                            href="https://www.behance.com/"><i class="fab fa-behance"></i></a></div>
                </div>
            </div>
            <div class="widget">
                <h3 class="widget_title">Information</h3>
                <div class="th-widget-contact">
                    <div class="info-wrap">
                        <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                    </div>
                    <div class="info-wrap">
                        <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                    </div>
                    <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65 </a><a
                            href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a></div>
                </div>
            </div>
            <div class="widget widget_nav_menu">
                <h3 class="widget_title">Company</h3>
                <div class="menu-all-pages-container">
                    <ul class="menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="service.html">Last Services</a></li>
                        <li><a href="portfolio.html">Photos Gallery</a></li>
                        <li><a href="blog.html">Blog Standard</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-search-box d-none d-lg-block"><button class="searchClose"><i class="fal fa-times"></i></button>
        <form action="#"><input type="text" placeholder="What are you looking for?"> <button type="submit"><i
                    class="fal fa-search"></i></button></form>
    </div>
    <div class="th-menu-wrapper">
        <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
            <div class="mobile-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
            <div class="th-mobile-menu">
                <ul>
                    <li class="menu-item-has-children"><a href="index.html">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index.html">Home 01</a></li>
                            <li><a href="home-2.html">Home 02</a></li>
                            <li><a href="home-3.html">Home 03</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="appointment.html">Appointment</a></li>
                            <li><a href="pricing.html">Pricing Plan</a></li>
                            <li><a href="team.html">Team</a></li>
                            <li><a href="team-details.html">Team Details</a></li>
                            <li><a href="error.html">Error Page</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Insurance</a>
                        <ul class="sub-menu">
                            <li><a href="service.html">Insurance Page</a></li>
                            <li><a href="service-details.html">Insurance Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">Portfolio</a>
                        <ul class="sub-menu">
                            <li><a href="project.html">Portfolio</a></li>
                            <li><a href="project-details.html">Portfolio Details</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="#">News</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog Page</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>


    <header class="th-header header-layout1">
        <div class="sticky-wrapper">
            <div class="menu-area">
                <div class="container-fluid">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto">
                            <div class="header-logo"><a href="index.html"><img src="/img/logo.svg"
                                        alt="Insurax"></a></div>
                        </div>
                        <div class="col-auto me-xxl-auto">
                            <nav class="main-menu d-none d-lg-inline-block">
                                <ul>
                                    <li class="menu-item-has-children"><a href="index.html">Home</a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home 01</a></li>
                                            <li><a href="home-2.html">Home 02</a></li>
                                            <li><a href="home-3.html">Home 03</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="appointment.html">Appointment</a></li>
                                            <li><a href="pricing.html">Pricing Plan</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="team-details.html">Team Details</a></li>
                                            <li><a href="error.html">Error Page</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Insurance</a>
                                        <ul class="sub-menu">
                                            <li><a href="service.html">Insurance Page</a></li>
                                            <li><a routerLink="/insurenceDetails">Insurance Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Portfolio</a>
                                        <ul class="sub-menu">
                                            <li><a href="project.html">Portfolio</a></li>
                                            <li><a href="project-details.html">Portfolio Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">News</a>
                                        <ul class="sub-menu">
                                            <li><a routerLink="/blog">Blog Page</a></li>
                                            <li><a routerLink="/blogDetails">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a routerLink="/contact">Contact</a></li>
                                </ul>
                            </nav><button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i
                                    class="far fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-button"><button type="button" class="icon-btn searchBoxToggler"><i
                                        class="far fa-search"></i></button> <button type="button"
                                    class="icon-btn sideMenuToggler"><span class="grid-icon"><span
                                            class="grid-icon-dot"></span> <span class="grid-icon-dot2"></span> <span
                                            class="grid-icon-dot3"></span></span></button>
                                <div class="header-info">
                                    <div class="header-info_icon"><i class="fas fa-phone-plus"></i></div>
                                    <div class="media-body"><span class="header-info_label">Need Help? Talk with
                                            Us</span>
                                        <p class="header-info_link"><a href="tel:+1539873657">+111 (458 586 558)</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcrumb-bg.png" data-overlay="black"
        data-opacity="8">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">Insurance</h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li>Insurance</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="service-sec space-bottom space">
        <div class="container">
            <div class="title-area text-center"><span class="sub-title">Our Insurance</span>
                <h2 class="sec-title">We offer Amazing Insurance</h2>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <div class="service-card_img"><img src="/img/service/service_1_1.jpg" alt="Service"></div>
                        <div class="service-card_content">
                            <div class="service-icon"><img src="/img/icon/service_icon_1_1.svg" alt="Icon"></div>
                            <h3 class="service-title box-title h4"><a href="service-details.html">Family Insurance</a>
                            </h3>
                            <p class="service-card_text">Dignissim sapien sollicitudin purus. Quisque eget.</p><a
                                href="service-details.html" class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <div class="service-card_img"><img src="/img/service/service_1_2.jpg" alt="Service"></div>
                        <div class="service-card_content">
                            <div class="service-icon"><img src="/img/icon/service_icon_1_4.svg" alt="Icon"></div>
                            <h3 class="service-title box-title h4"><a href="service-details.html">Home Insurance</a>
                            </h3>
                            <p class="service-card_text">Integer dignissim nibh mattis Sollicitudin eu a purus.</p><a
                                href="service-details.html" class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <div class="service-card_img"><img src="/img/service/service_1_3.jpg" alt="Service"></div>
                        <div class="service-card_content">
                            <div class="service-icon"><img src="/img/icon/service_icon_1_5.svg" alt="Icon"></div>
                            <h3 class="service-title box-title h4"><a href="service-details.html">Business Insurance</a>
                            </h3>
                            <p class="service-card_text">Efficiently optimize innovative services Efficiently.</p><a
                                href="service-details.html" class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <div class="service-card_img"><img src="/img/service/service_1_4.jpg" alt="Service"></div>
                        <div class="service-card_content">
                            <div class="service-icon"><img src="/img/icon/service_icon_1_2.svg" alt="Icon"></div>
                            <h3 class="service-title box-title h4"><a href="service-details.html">Vehicle Insurance</a>
                            </h3>
                            <p class="service-card_text">Integer dignissim nibh mattis Quisque eget nisi tortor.</p><a
                                href="service-details.html" class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <div class="service-card_img"><img src="/img/service/service_1_5.jpg" alt="Service"></div>
                        <div class="service-card_content">
                            <div class="service-icon"><img src="/img/icon/service_icon_1_3.svg" alt="Icon"></div>
                            <h3 class="service-title box-title h4"><a href="service-details.html">Health Insurance</a>
                            </h3>
                            <p class="service-card_text">Optimize innovative interoper able bandwidth Efficiently.</p><a
                                href="service-details.html" class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-card">
                        <div class="service-card_img"><img src="/img/service/service_1_6.jpg" alt="Service"></div>
                        <div class="service-card_content">
                            <div class="service-icon"><img src="/img/icon/service_icon_1_6.svg" alt="Icon"></div>
                            <h3 class="service-title box-title h4"><a href="service-details.html">Fire Insurance</a>
                            </h3>
                            <p class="service-card_text">Integer non lacus dui. Duis eu quam ut arcu efficitur</p><a
                                href="service-details.html" class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="feature-area-3 bg-smoke overflow-hidden">
        <div class="shape-mockup jump-reverse d-none d-xl-block" data-top="-20px" data-left="0"><img
                src="/img/bg/why_bg_shape.png" alt="shape"></div>
        <div class="space position-relative z-index-3">
            <div class="img-half img-right video-box2 z-index-1"><img src="/img/normal/wcu-thumb-1.png" alt="img">
                <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style4 popup-video"><i
                        class="fa-sharp fa-solid fa-play"></i></a></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="me-xxl-5 pe-xxl-4">
                            <div class="title-area mb-40 text-center text-lg-start"><span class="sub-title">Why Choose
                                    Us</span>
                                <h2 class="sec-title">Covering your risks, and Securing your future.</h2>
                                <p class="sec-text mt-30">Business insurance premiums are based on several factors,
                                    including the size of the business, the level of risk, and the coverage limits
                                    selected.</p>
                            </div>
                        </div>
                        <div class="feature-slider-wrap">
                            <div class="row th-carousel feature-slider" data-slide-show="3" data-lg-slide-show="2"
                                data-md-slide-show="2" data-sm-slide-show="2" data-arrows="false">
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="service-box style2">
                                        <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-1.svg"
                                                alt="Icon"></div>
                                        <h3 class="service-box_title h6"><a href="service-details.html">Protect and save
                                                Your money</a></h3>
                                        <p class="service-box_text">As your circumstances change, its important</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="service-box style2">
                                        <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-2.svg"
                                                alt="Icon"></div>
                                        <h3 class="service-box_title h6"><a href="service-details.html">Easy process
                                                systems</a></h3>
                                        <p class="service-box_text">Its important to carefully insurance policies</p>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="service-box style2">
                                        <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-3.svg"
                                                alt="Icon"></div>
                                        <h3 class="service-box_title h6"><a href="service-details.html">Digital
                                                insurance Policy</a></h3>
                                        <p class="service-box_text">Liability protection if someone is injured</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="counter-sec1" 
    style="background-image: url('/img/bg/fact_bg_1.png');"
    >
        <div class="container">
            <div class="row gy-40 justify-content-between">
                <div class="col-lg-auto col-md-6">
                    <div class="counter-wrapper">
                        <div class="global-icon"><img src="/img/icon/counter-icon-1.svg" alt="Icon"></div>
                        <h3 class="counter-wrap_title text-white"><span class="counter-number">4563</span>+</h3>
                        <p class="counter-wrap_text text-white">Success Insurance</p>
                    </div>
                </div>
                <div class="col-auto d-lg-block d-none">
                    <div class="counter-divider"></div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-wrapper">
                        <div class="global-icon"><img src="/img/icon/counter-icon-2.svg" alt="Icon"></div>
                        <h3 class="counter-wrap_title text-white"><span class="counter-number">866</span>+</h3>
                        <p class="counter-wrap_text text-white">Satisfied clients</p>
                    </div>
                </div>
                <div class="col-auto d-lg-block d-none">
                    <div class="counter-divider"></div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-wrapper">
                        <div class="global-icon"><img src="/img/icon/counter-icon-3.svg" alt="Icon"></div>
                        <h3 class="counter-wrap_title text-white"><span class="counter-number">185</span>+</h3>
                        <p class="counter-wrap_text text-white">International Award</p>
                    </div>
                </div>
                <div class="col-auto d-lg-block d-none">
                    <div class="counter-divider"></div>
                </div>
                <div class="col-lg-auto col-md-6">
                    <div class="counter-wrapper">
                        <div class="global-icon"><img src="/img/icon/counter-icon-4.svg" alt="Icon"></div>
                        <h3 class="counter-wrap_title text-white"><span class="counter-number">225</span>+</h3>
                        <p class="counter-wrap_text text-white">Our Global Agents</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="space">
        <div class="container">
            <div class="title-area text-center"><span class="sub-title style2">Pricing Plan</span>
                <h2 class="sec-title">Our Pricing Plan Options.</h2>
            </div>
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="price-card"><span class="offer-tag">Save Over 25%</span>
                        <div class="price-bg-shape"><img src="/img/bg/pricing-box-bg.png" alt="img"></div>
                        <h3 class="price-card_title box-title">Basic Plan</h3>
                        <div class="price-card_content">
                            <h4 class="price-card_price">$25 <span class="duration">/ Month</span></h4>
                            <p class="price-card_text">10,000 monthly active users</p>
                            <div class="available-list">
                                <ul class="checklist">
                                    <li><i class="fas fa-check-circle"></i> Projects and Time Sheet</li>
                                    <li><i class="fas fa-check-circle"></i> Recurring Transations</li>
                                    <li><i class="fas fa-check-circle"></i> Online Payments Service</li>
                                    <li class="unavailable"><i class="fas fa-xmark"></i>Unlimited Client Portal</li>
                                    <li class="unavailable"><i class="fas fa-xmark"></i>Backlink analysis & invoice</li>
                                </ul>
                            </div>
                        </div><a href="pricing.html" class="th-btn">Purchase Order</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="price-card active"><span class="offer-tag">Save Over 25%</span>
                        <div class="price-bg-shape"><img src="/img/bg/pricing-box-bg.png" alt="img"></div>
                        <h3 class="price-card_title box-title">Standard Plan</h3>
                        <div class="price-card_content">
                            <h4 class="price-card_price">$35 <span class="duration">/ Month</span></h4>
                            <p class="price-card_text">10,000 monthly active users</p>
                            <div class="available-list">
                                <ul class="checklist">
                                    <li><i class="fas fa-check-circle"></i> Projects and Time Sheet</li>
                                    <li><i class="fas fa-check-circle"></i> Recurring Transations</li>
                                    <li><i class="fas fa-check-circle"></i> Online Payments Service</li>
                                    <li><i class="fas fa-check-circle"></i> Unlimited Client Portal</li>
                                    <li class="unavailable"><i class="fas fa-xmark"></i> Backlink analysis & invoice
                                    </li>
                                </ul>
                            </div>
                        </div><a href="pricing.html" class="th-btn">Purchase Order</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="price-card"><span class="offer-tag">Save Over 25%</span>
                        <div class="price-bg-shape"><img src="/img/bg/pricing-box-bg.png" alt="img"></div>
                        <h3 class="price-card_title box-title">Premium Plan</h3>
                        <div class="price-card_content">
                            <h4 class="price-card_price">$45 <span class="duration">/ Month</span></h4>
                            <p class="price-card_text">10,000 monthly active users</p>
                            <div class="available-list">
                                <ul class="checklist">
                                    <li><i class="fas fa-check-circle"></i> Projects and Time Sheet</li>
                                    <li><i class="fas fa-check-circle"></i> Recurring Transations</li>
                                    <li><i class="fas fa-check-circle"></i> Online Payments Service</li>
                                    <li><i class="fas fa-check-circle"></i> Unlimited Client Portal</li>
                                    <li><i class="fas fa-check-circle"></i> Backlink analysis & invoice</li>
                                </ul>
                            </div>
                        </div><a href="pricing.html" class="th-btn">Purchase Order</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="bg-theme subscribe-sec">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="title-area mb-lg-0">
                        <h2 class="sec-title text-white mb-0">Contact  Our Aadifintech<br class="d-md-block d-none">Get
                            update</h2>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-6 align-self-center">
                    <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                            required=""> <button type="submit" class="th-btn">Contact</button></form>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer-wrapper footer-layout2" data-bg-src="/img/bg/footer_bg_2.png">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xxl-3 col-xl-3">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo"><a href="index.html"><img src="/img/logo.svg"
                                            alt="Insurax"></a></div>
                                <p class="about-text">There are several insurance solutions available to address
                                    specific needs and risks that individuals or businesses may face. Best solution is
                                    here.</p>
                                <div class="th-social"><a href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                            class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.com/"><i
                                            class="fab fa-behance"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Company</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="service.html">Last Services</a></li>
                                    <li><a href="portfolio.html">Photos Gallery</a></li>
                                    <li><a href="blog.html">Blog Standard</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Information</h3>
                            <div class="th-widget-contact">
                                <div class="info-wrap">
                                    <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                                </div>
                                <div class="info-wrap">
                                    <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                                </div>
                                <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65
                                    </a><a href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img
                                                src="/img/blog/recent-post-1-1.png" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <div class="recent-post-meta"><a href="blog.html">21 March, 2023</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Be
                                                prepared for anything With our insurance.</a></h4>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img
                                                src="/img/blog/recent-post-1-2.png" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <div class="recent-post-meta"><a href="blog.html">22 June, 2023</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Trust us
                                                to protect what you love most.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-title">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <p class="copyright-text text-center pb-md-0 pb-4"><i class="fal fa-copyright"></i> 2023 All
                            Rights Reserved By <a href="#">Insurax.</a></p>
                    </div>
                    <div class="col-auto">
                        <div class="footer-links">
                            <ul>
                                <li><a href="contact.html">Privacy</a></li>
                                <li><a href="contact.html">Terms & Condition</a></li>
                                <li><a href="about.html">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>