.scroll-to-top {
  position: fixed;
  bottom: 90px;
  right: 20px;
  background: red;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.floating-btn {
  position: fixed;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.floating-btn:hover {
  transform: scale(1.1);
}

.whatsapp-btn {
  bottom: 150px;
  background-color: #25d366;
}

.call-btn {
  bottom: 210px;
  background-color: red; /* Red background */
  color: #fff;
}

/* Responsive adjustment for small screens */
@media (max-width: 576px) {
  .scroll-to-top,
  .floating-btn {
    right: 15px;
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  .whatsapp-btn {
    bottom: 130px;
  }

  .call-btn {
    bottom: 190px;
  }

  .scroll-to-top {
    bottom: 70px;
  }
}

::ng-deep .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(2px);
}

::ng-deep .custom-dialog-container .mat-mdc-dialog-container {
  background: white;
  border-radius: 12px;
}