<!-- <div class="preloader"><button class="th-btn style2 preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner"><span class="loader"></span></div>
</div> -->
<div class="sidemenu-wrapper d-none d-lg-block">
    <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget">
            <div class="th-widget-about">
                <div class="about-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
                <p class="about-text">There are several insurance solutions available to address specific needs and
                    risks that individuals or businesses may face. Best solution is here.</p>
                <div class="th-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                        href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                        href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                        href="https://www.behance.com/"><i class="fab fa-behance"></i></a></div>
            </div>
        </div>
        <div class="widget">
            <h3 class="widget_title">Information</h3>
            <div class="th-widget-contact">
                <div class="info-wrap">
                    <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                </div>
                <div class="info-wrap">
                    <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                </div>
                <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65 </a><a
                        href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a></div>
            </div>
        </div>
        <div class="widget widget_nav_menu">
            <h3 class="widget_title">Company</h3>
            <div class="menu-all-pages-container">
                <ul class="menu">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="service.html">Last Services</a></li>
                    <li><a href="portfolio.html">Photos Gallery</a></li>
                    <li><a href="blog.html">Blog Standard</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block"><button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#"><input type="text" placeholder="What are you looking for?"> <button type="submit"><i
                class="fal fa-search"></i></button></form>
</div>
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children"><a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home 01</a></li>
                        <li><a href="home-2.html">Home 02</a></li>
                        <li><a href="home-3.html">Home 03</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="appointment.html">Appointment</a></li>
                        <li><a href="pricing.html">Pricing Plan</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="team-details.html">Team Details</a></li>
                        <li><a href="error.html">Error Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Insurance</a>
                    <ul class="sub-menu">
                        <li><a href="service.html">Insurance Page</a></li>
                        <li><a href="service-details.html">Insurance Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                    <ul class="sub-menu">
                        <li><a href="project.html">Portfolio</a></li>
                        <li><a href="project-details.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">News</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog Page</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<header class="th-header header-layout1">
    <div class="sticky-wrapper">
        <div class="menu-area">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="header-logo"><a href="index.html"><img src="/img/logo.svg"
                                    alt="Insurax"></a></div>
                    </div>
                    <div class="col-auto me-xxl-auto">
                        <nav class="main-menu d-none d-lg-inline-block">
                            <ul>
                                <li class="menu-item-has-children"><a href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home 01</a></li>
                                        <li><a href="home-2.html">Home 02</a></li>
                                        <li><a href="home-3.html">Home 03</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="appointment.html">Appointment</a></li>
                                        <li><a href="pricing.html">Pricing Plan</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="team-details.html">Team Details</a></li>
                                        <li><a href="error.html">Error Page</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Insurance</a>
                                    <ul class="sub-menu">
                                        <li><a href="service.html">Insurance Page</a></li>
                                        <li><a href="service-details.html">Insurance Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                                    <ul class="sub-menu">
                                        <li><a href="project.html">Portfolio</a></li>
                                        <li><a href="project-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">News</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="/blog">Blog Page</a></li>
                                        <li><a routerLink="/blogDetails">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a routerLink="/contact">Contact</a></li>
                            </ul>
                        </nav><button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i
                                class="far fa-bars"></i></button>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <div class="header-button"><button type="button" class="icon-btn searchBoxToggler"><i
                                    class="far fa-search"></i></button> <button type="button"
                                class="icon-btn sideMenuToggler"><span class="grid-icon"><span
                                        class="grid-icon-dot"></span> <span class="grid-icon-dot2"></span> <span
                                        class="grid-icon-dot3"></span></span></button>
                            <div class="header-info">
                                <div class="header-info_icon"><i class="fas fa-phone-plus"></i></div>
                                <div class="media-body"><span class="header-info_label">Need Help? Talk with
                                        Us</span>
                                    <p class="header-info_link"><a href="tel:+1539873657">+111 (458 586 558)</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="breadcumb-wrapper"  data-overlay="black"
    data-opacity="8"
    style="background-image: url('/img/breadcumb/breadcrumb-bg.png');"
    
    >
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Insurance Details</h1>
            <ul class="breadcumb-menu">
                <li><a href="index.html">Home</a></li>
                <li>Insurance Details</li>
            </ul>
        </div>
    </div>
</div>
<section class="space">
    <div class="container">
        <div class="row gx-40">
            <div class="col-xxl-8 col-lg-8 order-lg-2">
                <div class="page-single">
                    <div class="page-img mb-30"><img src="/img/service/service_details.jpg"
                            alt="Service Image"></div>
                    <div class="page-content">
                        <h2 class="h3 page-title">Insurance for every stage of life.</h2>
                        <p>Consult with an insurance agent or broker: If you are still unsure about selecting
                            insurance, you can consult with an insurance agent or broker. They can provide guidance
                            on selecting the appropriate coverage for your situation and help you navigate the
                            selection process. Provides income replacement if an individual becomes</p>
                        <p class="mb-30">Research different providers: Once you have identified your insurance
                            needs, research different insurance providers to find the ones that offer the type of
                            coverage you require.</p>
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="service-box style2">
                                    <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-1.svg"
                                            alt="Icon"></div>
                                    <h3 class="service-box_title h6"><a href="service-details.html">Protect and save
                                            Your money</a></h3>
                                    <p class="service-box_text">As your circumstances change, its important</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="service-box style2">
                                    <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-2.svg"
                                            alt="Icon"></div>
                                    <h3 class="service-box_title h6"><a href="service-details.html">Easy process
                                            systems</a></h3>
                                    <p class="service-box_text">Its important to carefully insurance policies</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="service-box style2">
                                    <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-3.svg"
                                            alt="Icon"></div>
                                    <h3 class="service-box_title h6"><a href="service-details.html">Digital
                                            insurance Policy</a></h3>
                                    <p class="service-box_text">Liability protection if someone is injured</p>
                                </div>
                            </div>
                        </div>
                        <p class="mt-40 mb-35">To select an insurance system, you can research different insurance
                            providers, read reviews and ratings, and compare quotes from multiple companies. You can
                            also consult with insurance agents or brokers who can provide guidance on selecting the
                            appropriate insurance system for your specific needs.</p>
                        <div class="service-details-list">
                            <div class="row gx-30 justify-content-between align-items-center">
                                <div class="col-sm-auto">
                                    <h4>Insurance Benifits</h4>
                                    <div class="checklist">
                                        <ul>
                                            <li><i class="fa fa-check-circle"></i> Large number of insurance
                                                policies</li>
                                            <li><i class="fa fa-check-circle"></i> Cover for Critical Situations
                                            </li>
                                            <li><i class="fa fa-check-circle"></i>Experience &amp; qualified agents
                                            </li>
                                            <li><i class="fa fa-check-circle"></i> Experts Team Member</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-auto mb-xxl-0 mb-4">
                                    <div class="thumb"><img src="/img/service/service_details2.jpg" alt="img">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-area accordion style2" id="faqAccordion">
                            <div class="accordion-card active">
                                <div class="accordion-header" id="collapse-item-1"><button class="accordion-button"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1"
                                        aria-expanded="true" aria-controls="collapse-1"><span
                                            class="text-theme">01.</span> How long does it take to answer insurance
                                        questions?</button></div>
                                <div id="collapse-1" class="accordion-collapse collapse show"
                                    aria-labelledby="collapse-item-1" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p class="faq-text">Aliquam a vehicula eros, ut blandit odio. Sed commodo ex
                                            ut diam volutpat, faucibus commodo felis efficitur. Fusce pulvinar odio
                                            velit. Cras faucibus dolor ex, nec mattis The Risks of Going Without
                                            Insurance Why You Need Coverage. The Role of Insurance in Financial
                                            Planning.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-card">
                                <div class="accordion-header" id="collapse-item-2"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-2" aria-expanded="false"
                                        aria-controls="collapse-2"><span class="text-theme">02.</span> What is a
                                        term insurance policy?</button></div>
                                <div id="collapse-2" class="accordion-collapse collapse"
                                    aria-labelledby="collapse-item-2" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p class="faq-text">Aliquam a vehicula eros, ut blandit odio. Sed commodo ex
                                            ut diam volutpat, faucibus commodo felis efficitur. Fusce pulvinar odio
                                            velit. Cras faucibus dolor ex, nec mattis The Risks of Going Without
                                            Insurance Why You Need Coverage. The Role of Insurance in Financial
                                            Planning.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-card">
                                <div class="accordion-header" id="collapse-item-3"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-3" aria-expanded="false"
                                        aria-controls="collapse-3"><span class="text-theme">03.</span> How long does
                                        it take to cancel health insurance?</button></div>
                                <div id="collapse-3" class="accordion-collapse collapse"
                                    aria-labelledby="collapse-item-3" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p class="faq-text">Aliquam a vehicula eros, ut blandit odio. Sed commodo ex
                                            ut diam volutpat, faucibus commodo felis efficitur. Fusce pulvinar odio
                                            velit. Cras faucibus dolor ex, nec mattis The Risks of Going Without
                                            Insurance Why You Need Coverage. The Role of Insurance in Financial
                                            Planning.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-card">
                                <div class="accordion-header" id="collapse-item-4"><button
                                        class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-4" aria-expanded="false"
                                        aria-controls="collapse-4"><span class="text-theme">04.</span> How long does
                                        it take to evaluate the insurance policy?</button></div>
                                <div id="collapse-4" class="accordion-collapse collapse"
                                    aria-labelledby="collapse-item-4" data-bs-parent="#faqAccordion">
                                    <div class="accordion-body">
                                        <p class="faq-text">Aliquam a vehicula eros, ut blandit odio. Sed commodo ex
                                            ut diam volutpat, faucibus commodo felis efficitur. Fusce pulvinar odio
                                            velit. Cras faucibus dolor ex, nec mattis The Risks of Going Without
                                            Insurance Why You Need Coverage. The Role of Insurance in Financial
                                            Planning.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-lg-4 order-lg-1">
                <aside class="sidebar-area">
                    <div class="widget widget_nav_menu">
                        <h3 class="widget_title">All Services</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="service-details.html">Insurance Strategy</a><span>(08)</span></li>
                                <li><a href="service-details.html">Insurance Consulting</a> <span>(12)</span></li>
                                <li><a href="service-details.html">Financial Planiing</a><span>(15)</span></li>
                                <li><a href="service-details.html">Business Insurance</a><span>(21)</span></li>
                                <li><a href="service-details.html">Family Insurance</a><span>(14)</span></li>
                                <li><a href="service-details.html">Health Insurance</a><span>(05)</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget_banner text-center" data-bg-src="/img/widget/widget_banner.png"
                        data-overlay="title" data-opacity="9">
                        <h4 class="widget_title">Need Help?<br>Talk with expert</h4>
                        <div class="widget-banner">
                            <p class="banner-text">Call anytime</p>
                            <h4><a class="banner-link" href="tel:+01145656896">+011 (456) 568 96</a></h4><a
                                href="contact.html" class="th-btn style2">Contact Us<i
                                    class="far fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="widget widget_download">
                        <h4 class="widget_title">Download</h4>
                        <div class="download-widget-wrap"><a href="service-details.html" class="th-btn">DOWNLOAD PDF
                                <i class="fa-light fa-file-pdf me-2"></i></a> <a href="service-details.html"
                                class="th-btn style3">DOWNLOAD DOC <i class="fa-light fa-file-lines me-2"></i></a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="bg-theme subscribe-sec">
        <div class="row justify-content-between">
            <div class="col-xl-5 col-lg-6">
                <div class="title-area mb-lg-0">
                    <h2 class="sec-title text-white mb-0">Contact  Our Aadifintech<br class="d-md-block d-none">Get
                        update</h2>
                </div>
            </div>
            <div class="col-xl-auto col-lg-6 align-self-center">
                <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                        required=""> <button type="submit" class="th-btn">Subscribe</button></form>
            </div>
        </div>
    </div>
</div>
<footer class="footer-wrapper footer-layout2" 
style="background-image: url('/img/bg/footer_bg_2.png');"
>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xxl-3 col-xl-3">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo"><a href="index.html"><img src="assets/img/logo.svg"
                                        alt="Insurax"></a></div>
                            <p class="about-text">There are several insurance solutions available to address
                                specific needs and risks that individuals or businesses may face. Best solution is
                                here.</p>
                            <div class="th-social"><a href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                        class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                        class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.com/"><i
                                        class="fab fa-behance"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Company</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="service.html">Last Services</a></li>
                                <li><a href="portfolio.html">Photos Gallery</a></li>
                                <li><a href="blog.html">Blog Standard</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Information</h3>
                        <div class="th-widget-contact">
                            <div class="info-wrap">
                                <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                            </div>
                            <div class="info-wrap">
                                <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                            </div>
                            <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65
                                </a><a href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Recent Post</h3>
                        <div class="recent-post-wrap">
                            <div class="recent-post">
                                <div class="media-img"><a href="blog-details.html"><img
                                            src="/img/blog/recent-post-1-1.png" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-post-meta"><a href="blog.html">21 March, 2023</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Be
                                            prepared for anything With our insurance.</a></h4>
                                </div>
                            </div>
                            <div class="recent-post">
                                <div class="media-img"><a href="blog-details.html"><img
                                            src="/img/blog/recent-post-1-2.png" alt="Blog Image"></a></div>
                                <div class="media-body">
                                    <div class="recent-post-meta"><a href="blog.html">22 June, 2023</a></div>
                                    <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Trust us
                                            to protect what you love most.</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-wrap bg-title">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p class="copyright-text text-center pb-md-0 pb-4"><i class="fal fa-copyright"></i> 2023 All
                        Rights Reserved By <a href="#">Insurax.</a></p>
                </div>
                <div class="col-auto">
                    <div class="footer-links">
                        <ul>
                            <li><a href="contact.html">Privacy</a></li>
                            <li><a href="contact.html">Terms & Condition</a></li>
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>