
<div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcrumb-bg.png" data-overlay="black"
data-opacity="8">
<div class="container">
    <div class="breadcumb-content">
        <h1 class="breadcumb-title">Investment Banking</h1>
        <ul class="breadcumb-menu">
            <li><a href="index.html">Home</a></li>
            <li>Investment Banking</li>
        </ul>
    </div>
</div>
</div>


<div class="feature-area-3 bg-smoke overflow-hidden mt-5">
  <div class="shape-mockup jump-reverse d-none d-xl-block" data-top="-20px" data-left="0">
    <img src="/img/bg/why_bg_shape.png" alt="shape">
  </div>
  <div class="space position-relative z-index-3">
    <div class="img-half img-right video-box2 z-index-1">
      <img src="/img/normal/wcu-thumb-1.png" alt="img">
      <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style4 popup-video">
        <i class="fa-sharp fa-solid fa-play"></i>
      </a>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <div class="me-xxl-5 pe-xxl-4">
            <div class="title-area mb-40 text-center text-lg-start">
              <span class="sub-title">Why Choose Us</span>
              <h2 class="sec-title">Strategic Investment Banking Services</h2>
              <p class="sec-text mt-30">
                Our investment banking services offer comprehensive financial advisory, capital structuring, and transaction support for businesses at various stages of growth.
              </p>
            </div>
          </div>
          <div class="feature-slider-wrap">
            <div class="row th-carousel feature-slider" data-slide-show="3" data-lg-slide-show="2"
              data-md-slide-show="2" data-sm-slide-show="2" data-arrows="false">

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-box style2">
                  <div class="service-box_icon">
                    <img src="/img/icon/wcu-icon-2-1.svg" alt="Icon">
                  </div>
                  <h3 class="service-box_title h6">
                    <a href="service-details.html">M&A Advisory</a>
                  </h3>
                  <p class="service-box_text">Our team provides expert advice on mergers, acquisitions, and divestitures to maximize value.</p>
                </div>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-box style2">
                  <div class="service-box_icon">
                    <img src="/img/icon/wcu-icon-2-2.svg" alt="Icon">
                  </div>
                  <h3 class="service-box_title h6">
                    <a href="service-details.html">Capital Structuring</a>
                  </h3>
                  <p class="service-box_text">We help businesses design optimal capital structures to enhance financial stability and growth.</p>
                </div>
              </div>

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="service-box style2">
                  <div class="service-box_icon">
                    <img src="/img/icon/wcu-icon-2-3.svg" alt="Icon">
                  </div>
                  <h3 class="service-box_title h6">
                    <a href="service-details.html">Transaction Support</a>
                  </h3>
                  <p class="service-box_text">Our team assists with every aspect of complex transactions, from due diligence to closing deals.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="feature-area-2 overflow-hidden mt-5">
  <div class="position-relative">
    <div class="img-half img-left feature-thumb-2">
      <img src="/img/investment/investmentbanking.webp" alt="Investment Banking Services by Aadi Fintech">
      <div class="shape-mockup jump z-index-3 d-sm-block d-none" data-right="0" data-bottom="0" style="width: 550px;border: 10px solid gray;border-bottom: none;">
        <img src="/img/investment/invest2.jpeg" alt="Investment Advisory Team at Aadi Fintech">
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-lg-end">
        <div class="col-xl-5 col-lg-6">
          <div class="title-area space-bottom mb-0 ms-xl-0 ms-lg-4 ms-0 text-center text-lg-start">
            <span class="sub-title">Investment Banking Services</span>
            <h2 class="sec-title">Unlock Capital & Strategic Deals for Business Excellence</h2>
            <p class="mt-30 mb-40">Aadi Fintech delivers expert investment banking solutions including mergers & acquisitions, private equity advisory, and capital structuring. We help businesses secure high-value deals with deep market insight and execution strength. Call <strong>9953656810</strong> to elevate your strategy.</p>
            <div class="feature-circle-wrap">
              <div class="feature-circle">
                <div class="progressbar">
                  <div class="circle" data-percent="94">
                    <div class="circle-num">94%</div>
                  </div>
                  <div class="feature-circle_content">
                    <h5 class="feature-circle_title">Deal Execution Rate</h5>
                    <p class="feature-circle_text">We close transactions faster with strong negotiation, structuring, and compliance capabilities.</p>
                  </div>
                </div>
              </div>
              <div class="feature-circle">
                <div class="progressbar">
                  <div class="circle" data-percent="89">
                    <div class="circle-num">89%</div>
                  </div>
                  <div class="feature-circle_content">
                    <h5 class="feature-circle_title">Strategic Growth Impact</h5>
                    <p class="feature-circle_text">Our advisory drives business transformation through optimal capital and M&A solutions.</p>
                  </div>
                </div>
              </div>
            </div> <!-- feature-circle-wrap -->
          </div> <!-- title-area -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="counter-sec1 mt-5" style="background-image: url('/img/bg/fact_bg_1.png');">
  <div class="container">
    <div class="row gy-40 justify-content-between">

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-1.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">650</span>+</h3>
          <p class="counter-wrap_text text-white">Successful M&A Transactions</p>
        </div>
      </div>

      <div class="col-auto d-lg-block d-none">
        <div class="counter-divider"></div>
      </div>

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-2.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">1200</span>+</h3>
          <p class="counter-wrap_text text-white">Clients Served Across Various Industries</p>
        </div>
      </div>

      <div class="col-auto d-lg-block d-none">
        <div class="counter-divider"></div>
      </div>

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-3.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">500</span>+</h3>
          <p class="counter-wrap_text text-white">Investors in Our Network</p>
        </div>
      </div>

      <div class="col-auto d-lg-block d-none">
        <div class="counter-divider"></div>
      </div>

      <div class="col-lg-auto col-md-6">
        <div class="counter-wrapper">
          <div class="global-icon"><img src="/img/icon/counter-icon-4.svg" alt="Icon"></div>
          <h3 class="counter-wrap_title text-white"><span class="counter-number">150</span>+</h3>
          <p class="counter-wrap_text text-white">Deals Closed Successfully</p>
        </div>
      </div>

    </div>
  </div>
</div>


<section class="service-sec space-bottom space">
  <div class="container">
    <div class="title-area text-center">
      <span class="sub-title">Our Services</span>
      <h2 class="sec-title">What Aadi Fintech Offers</h2>
    </div>
    <div class="row gy-4 justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_1.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_1.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4"><a routerLink="/services/investment-banking">Investment Banking</a></h3>
            <p class="service-card_text">Our expert team offers M&A advisory, capital structuring, and transaction support for businesses of all sizes.</p>
            <a routerLink="/services/investment-banking" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_2.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_4.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4"><a routerLink="/services/fund-raising">Fund Raising</a></h3>
            <p class="service-card_text">We help startups and growing companies secure funding through equity, debt, and strategic investor engagement.</p>
            <a routerLink="/services/fund-raising" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_3.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_5.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4"><a routerLink="/services/training-placement">Training & Placement</a></h3>
            <p class="service-card_text">We provide skill-based training, placement assistance, and manpower outsourcing to bridge industry needs.</p>
            <a routerLink="/services/training-placement" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_4.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_2.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4"><a routerLink="/services/credit-rating">Credit Rating</a></h3>
            <p class="service-card_text">Aadi Fintech supports businesses in obtaining and improving credit ratings for better financial positioning.</p>
            <a routerLink="/services/credit-rating" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_5.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_3.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4"><a routerLink="/services/tech-services">Tech Services</a></h3>
            <p class="service-card_text">From custom software to automation, we deliver technology solutions tailored to your business growth.</p>
            <a routerLink="/services/tech-services" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="service-card">
          <div class="service-card_img"><img src="/img/service/service_1_6.jpg" alt="Service"></div>
          <div class="service-card_content">
            <div class="service-icon"><img src="/img/icon/service_icon_1_6.svg" alt="Icon"></div>
            <h3 class="service-title box-title h4"><a routerLink="/services/digital-marketing">Digital Marketing</a></h3>
            <p class="service-card_text">Boost your online presence with our SEO, social media, content, and performance marketing services.</p>
            <a routerLink="/services/digital-marketing" class="half-line-btn">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="container mt-5">
<div class="bg-theme subscribe-sec">
    <div class="row justify-content-between">
        <div class="col-xl-5 col-lg-6">
            <div class="title-area mb-lg-0">
                <h2 class="sec-title text-white mb-0">Subscribe Our Newsletter<br class="d-md-block d-none">Get
                    update</h2>
            </div>
        </div>
        <div class="col-xl-auto col-lg-6 align-self-center">
            <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                    required=""> <button type="submit" class="th-btn">Subscribe</button></form>
        </div>
    </div>
</div>
</div>
