
    <!-- <div class="preloader"><button class="th-btn style2 preloaderCls">Cancel Preloader</button>
        <div class="preloader-inner"><span class="loader"></span></div>
    </div> -->
    <!-- <div class="sidemenu-wrapper d-none d-lg-block">
      <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
          <div class="widget">
              <div class="th-widget-about">
                  <div class="about-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
                  <p class="about-text">There are several insurance solutions available to address specific needs and
                      risks that individuals or businesses may face. Best solution is here.</p>
                  <div class="th-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                          href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                          href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                          href="https://www.behance.com/"><i class="fab fa-behance"></i></a></div>
              </div>
          </div>
          <div class="widget">
              <h3 class="widget_title">Information</h3>
              <div class="th-widget-contact">
                  <div class="info-wrap">
                      <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                  </div>
                  <div class="info-wrap">
                      <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                  </div>
                  <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65 </a><a
                          href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a></div>
              </div>
          </div>
          <div class="widget widget_nav_menu">
              <h3 class="widget_title">Company</h3>
              <div class="menu-all-pages-container">
                  <ul class="menu">
                      <li><a href="about.html">About Us</a></li>
                      <li><a href="service.html">Last Services</a></li>
                      <li><a href="portfolio.html">Photos Gallery</a></li>
                      <li><a href="blog.html">Blog Standard</a></li>
                      <li><a href="contact.html">Contact Us</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <div class="popup-search-box d-none d-lg-block"><button class="searchClose"><i class="fal fa-times"></i></button>
      <form action="#"><input type="text" placeholder="What are you looking for?"> <button type="submit"><i
                  class="fal fa-search"></i></button></form>
  </div>
  <div class="th-menu-wrapper">
      <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
          <div class="mobile-logo"><a href="index.html"><img src="/img/logo.svg" alt="Insurax"></a></div>
          <div class="th-mobile-menu">
              <ul>
                  <li class="menu-item-has-children"><a href="index.html">Home</a>
                      <ul class="sub-menu">
                          <li><a href="index.html">Home 01</a></li>
                          <li><a href="home-2.html">Home 02</a></li>
                          <li><a href="home-3.html">Home 03</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Pages</a>
                      <ul class="sub-menu">
                          <li><a href="about.html">About Us</a></li>
                          <li><a href="appointment.html">Appointment</a></li>
                          <li><a href="pricing.html">Pricing Plan</a></li>
                          <li><a href="team.html">Team</a></li>
                          <li><a href="team-details.html">Team Details</a></li>
                          <li><a href="error.html">Error Page</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Insurance</a>
                      <ul class="sub-menu">
                          <li><a href="service.html">Insurance Page</a></li>
                          <li><a href="service-details.html">Insurance Details</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">Portfolio</a>
                      <ul class="sub-menu">
                          <li><a href="project.html">Portfolio</a></li>
                          <li><a href="project-details.html">Portfolio Details</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children"><a href="#">News</a>
                      <ul class="sub-menu">
                          <li><a href="blog.html">Blog Page</a></li>
                          <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                  </li>
                  <li><a href="contact.html">Contact</a></li>
              </ul>
          </div>
      </div>
  </div> -->


  <!-- <header class="th-header header-layout1">
      <div class="sticky-wrapper">
          <div class="menu-area">
              <div class="container-fluid">
                  <div class="row align-items-center justify-content-between">
                      <div class="col-auto">
                          <div class="header-logo"><a href="index.html"><img src="/img/logo.svg"
                                      alt="Insurax"></a></div>
                      </div>
                      <div class="col-auto me-xxl-auto">
                          <nav class="main-menu d-none d-lg-inline-block">
                              <ul>
                                  <li class="menu-item-has-children"><a href="index.html">Home</a>
                                      <ul class="sub-menu">
                                          <li><a href="index.html">Home 01</a></li>
                                          <li><a href="home-2.html">Home 02</a></li>
                                          <li><a href="home-3.html">Home 03</a></li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="#">Pages</a>
                                      <ul class="sub-menu">
                                          <li><a href="about.html">About Us</a></li>
                                          <li><a href="appointment.html">Appointment</a></li>
                                          <li><a href="pricing.html">Pricing Plan</a></li>
                                          <li><a href="team.html">Team</a></li>
                                          <li><a href="team-details.html">Team Details</a></li>
                                          <li><a href="error.html">Error Page</a></li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="#">Insurance</a>
                                      <ul class="sub-menu">
                                          <li><a href="service.html">Insurance Page</a></li>
                                          <li><a routerLink="/insurenceDetails">Insurance Details</a></li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="#">Portfolio</a>
                                      <ul class="sub-menu">
                                          <li><a href="project.html">Portfolio</a></li>
                                          <li><a href="project-details.html">Portfolio Details</a></li>
                                      </ul>
                                  </li>
                                  <li class="menu-item-has-children"><a href="#">News</a>
                                      <ul class="sub-menu">
                                          <li><a routerLink="/blog">Blog Page</a></li>
                                          <li><a routerLink="/blogDetails">Blog Details</a></li>
                                      </ul>
                                  </li>
                                  <li><a routerLink="/contact">Contact</a></li>
                              </ul>
                          </nav><button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i
                                  class="far fa-bars"></i></button>
                      </div>
                      <div class="col-auto d-none d-xl-block">
                          <div class="header-button"><button type="button" class="icon-btn searchBoxToggler"><i
                                      class="far fa-search"></i></button> <button type="button"
                                  class="icon-btn sideMenuToggler"><span class="grid-icon"><span
                                          class="grid-icon-dot"></span> <span class="grid-icon-dot2"></span> <span
                                          class="grid-icon-dot3"></span></span></button>
                              <div class="header-info">
                                  <div class="header-info_icon"><i class="fas fa-phone-plus"></i></div>
                                  <div class="media-body"><span class="header-info_label">Need Help? Talk with
                                          Us</span>
                                      <p class="header-info_link"><a href="tel:+1539873657">+111 (458 586 558)</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header> -->
  <div class="breadcumb-wrapper" data-bg-src="/img/breadcumb/breadcrumb-bg.png" data-overlay="black"
      data-opacity="8">
      <div class="container">
          <div class="breadcumb-content">
              <h1 class="breadcumb-title">Credit Rating</h1>
              <ul class="breadcumb-menu">
                  <li><a href="index.html">Home</a></li>
                  <li>Credit Rating</li>
              </ul>
          </div>
      </div>
  </div>


  <div class="feature-area-3 bg-smoke overflow-hidden mt-5">
    <div class="shape-mockup jump-reverse d-none d-xl-block" data-top="-20px" data-left="0">
      <img src="/img/bg/why_bg_shape.png" alt="shape">
    </div>
    <div class="space position-relative z-index-3">
      <div class="img-half img-right video-box2 z-index-1">
        <img src="/img/normal/wcu-thumb-1.png" alt="img">
        <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style4 popup-video">
          <i class="fa-sharp fa-solid fa-play"></i>
        </a>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xl-6">
            <div class="me-xxl-5 pe-xxl-4">
              <div class="title-area mb-40 text-center text-lg-start">
                <span class="sub-title">Why Choose Us</span>
                <h2 class="sec-title">Empowering Businesses with Trusted Credit Ratings</h2>
                <p class="sec-text mt-30">
                  Our credit rating services help businesses gain credibility, reduce borrowing costs,
                  and unlock better financial opportunities through transparent evaluation.
                </p>
              </div>
            </div>
            <div class="feature-slider-wrap">
              <div class="row th-carousel feature-slider" data-slide-show="3" data-lg-slide-show="2"
                data-md-slide-show="2" data-sm-slide-show="2" data-arrows="false">

                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="service-box style2">
                    <div class="service-box_icon">
                      <img src="/img/icon/wcu-icon-2-1.svg" alt="Icon">
                    </div>
                    <h3 class="service-box_title h6">
                      <a href="service-details.html">Build Financial Trust</a>
                    </h3>
                    <p class="service-box_text">Improve your reputation with credible credit assessments.</p>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="service-box style2">
                    <div class="service-box_icon">
                      <img src="/img/icon/wcu-icon-2-2.svg" alt="Icon">
                    </div>
                    <h3 class="service-box_title h6">
                      <a href="service-details.html">Faster Loan Approvals</a>
                    </h3>
                    <p class="service-box_text">A higher credit rating accelerates funding access.</p>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="service-box style2">
                    <div class="service-box_icon">
                      <img src="/img/icon/wcu-icon-2-3.svg" alt="Icon">
                    </div>
                    <h3 class="service-box_title h6">
                      <a href="service-details.html">Reliable Credit Reports</a>
                    </h3>
                    <p class="service-box_text">Detailed analysis that supports strategic planning.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature-area-2 overflow-hidden mt-5">
    <div class="position-relative">
      <div class="img-half img-left feature-thumb-2">
        <img src="/img/normal/wcu-thumb-3.png" alt="Credit Rating Services by Aadi Fintech">
        <div class="shape-mockup jump z-index-3 d-sm-block d-none" data-right="0" data-bottom="0">
          <img src="/img/normal/wcu-thumb-3-2.png" alt="Credit Rating Team at Aadi Fintech">
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-lg-end">
          <div class="col-xl-5 col-lg-6">
            <div class="title-area space-bottom mb-0 ms-xl-0 ms-lg-4 ms-0 text-center text-lg-start">
              <span class="sub-title">Credit Rating Services</span>
              <h2 class="sec-title">Enhance Your Financial Credibility with Accurate Credit Ratings</h2>
              <p class="mt-30 mb-40">Aadi Fintech offers reliable credit rating services to help businesses assess their financial health and credibility. We provide comprehensive evaluations that give insights into your financial stability and help in securing funding or investment opportunities. With our expertise, we help businesses improve their credit profiles and build trust with investors and lenders.
              <br><br>
              Contact us at <strong>9953656810</strong> to understand how we can help boost your creditworthiness.</p>
              <div class="feature-circle-wrap">
                <div class="feature-circle">
                  <div class="progressbar">
                    <div class="circle" data-percent="92">
                      <div class="circle-num">92%</div>
                    </div>
                    <div class="feature-circle_content">
                      <h5 class="feature-circle_title">Credit Rating Accuracy</h5>
                      <p class="feature-circle_text">We provide precise and transparent credit ratings that reflect your financial health accurately.</p>
                    </div>
                  </div>
                </div>
                <div class="feature-circle">
                  <div class="progressbar">
                    <div class="circle" data-percent="88">
                      <div class="circle-num">88%</div>
                    </div>
                    <div class="feature-circle_content">
                      <h5 class="feature-circle_title">Funding Success Rate</h5>
                      <p class="feature-circle_text">Our clients often secure funding and loans with improved credit scores resulting from our evaluations.</p>
                    </div>
                  </div>
                </div>
              </div> <!-- feature-circle-wrap -->
            </div> <!-- title-area -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="counter-sec1 mt-5" style="background-image: url('/img/bg/fact_bg_1.png');">
    <div class="container">
      <div class="row gy-40 justify-content-between">

        <div class="col-lg-auto col-md-6">
          <div class="counter-wrapper">
            <div class="global-icon"><img src="/img/icon/counter-icon-1.svg" alt="Icon"></div>
            <h3 class="counter-wrap_title text-white"><span class="counter-number">3250</span>+</h3>
            <p class="counter-wrap_text text-white">Credit Ratings Delivered</p>
          </div>
        </div>

        <div class="col-auto d-lg-block d-none">
          <div class="counter-divider"></div>
        </div>

        <div class="col-lg-auto col-md-6">
          <div class="counter-wrapper">
            <div class="global-icon"><img src="/img/icon/counter-icon-2.svg" alt="Icon"></div>
            <h3 class="counter-wrap_title text-white"><span class="counter-number">1200</span>+</h3>
            <p class="counter-wrap_text text-white">Satisfied Enterprises</p>
          </div>
        </div>

        <div class="col-auto d-lg-block d-none">
          <div class="counter-divider"></div>
        </div>

        <div class="col-lg-auto col-md-6">
          <div class="counter-wrapper">
            <div class="global-icon"><img src="/img/icon/counter-icon-3.svg" alt="Icon"></div>
            <h3 class="counter-wrap_title text-white"><span class="counter-number">150</span>+</h3>
            <p class="counter-wrap_text text-white">Partnering Institutions</p>
          </div>
        </div>

        <div class="col-auto d-lg-block d-none">
          <div class="counter-divider"></div>
        </div>

        <div class="col-lg-auto col-md-6">
          <div class="counter-wrapper">
            <div class="global-icon"><img src="/img/icon/counter-icon-4.svg" alt="Icon"></div>
            <h3 class="counter-wrap_title text-white"><span class="counter-number">85</span>+</h3>
            <p class="counter-wrap_text text-white">Financial Analysts Team</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <section class="service-sec space-bottom space">
    <div class="container">
      <div class="title-area text-center">
        <span class="sub-title">Our Services</span>
        <h2 class="sec-title">What Aadi Fintech Offers</h2>
      </div>
      <div class="row gy-4 justify-content-center">
        <div class="col-md-6 col-xl-4">
          <div class="service-card">
            <div class="service-card_img"><img src="/img/service/service_1_1.jpg" alt="Service"></div>
            <div class="service-card_content">
              <div class="service-icon"><img src="/img/icon/service_icon_1_1.svg" alt="Icon"></div>
              <h3 class="service-title box-title h4"><a routerLink="/services/fund-raising">Fund Raising</a></h3>
              <p class="service-card_text">We help startups and growing companies secure funding through equity, debt, and strategic investor engagement.</p>
              <a routerLink="/services/fund-raising" class="half-line-btn">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="service-card">
            <div class="service-card_img"><img src="/img/service/service_1_2.jpg" alt="Service"></div>
            <div class="service-card_content">
              <div class="service-icon"><img src="/img/icon/service_icon_1_4.svg" alt="Icon"></div>
              <h3 class="service-title box-title h4"><a routerLink="/services/investment-banking">Investment Banking</a></h3>
              <p class="service-card_text">Our expert team offers M&A advisory, capital structuring, and transaction support for businesses of all sizes.</p>
              <a routerLink="/services/investment-banking" class="half-line-btn">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="service-card">
            <div class="service-card_img"><img src="/img/service/service_1_3.jpg" alt="Service"></div>
            <div class="service-card_content">
              <div class="service-icon"><img src="/img/icon/service_icon_1_5.svg" alt="Icon"></div>
              <h3 class="service-title box-title h4"><a routerLink="/services/training-placement">Training & Placement</a></h3>
              <p class="service-card_text">We provide skill-based training, placement assistance, and manpower outsourcing to bridge industry needs.</p>
              <a routerLink="/services/training-placement" class="half-line-btn">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="service-card">
            <div class="service-card_img"><img src="/img/service/service_1_4.jpg" alt="Service"></div>
            <div class="service-card_content">
              <div class="service-icon"><img src="/img/icon/service_icon_1_2.svg" alt="Icon"></div>
              <h3 class="service-title box-title h4"><a routerLink="/services/credit-rating">Credit Rating</a></h3>
              <p class="service-card_text">Aadi Fintech supports businesses in obtaining and improving credit ratings for better financial positioning.</p>
              <a routerLink="/services/credit-rating" class="half-line-btn">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="service-card">
            <div class="service-card_img"><img src="/img/service/service_1_5.jpg" alt="Service"></div>
            <div class="service-card_content">
              <div class="service-icon"><img src="/img/icon/service_icon_1_3.svg" alt="Icon"></div>
              <h3 class="service-title box-title h4"><a routerLink="/services/tech-services">Tech Services</a></h3>
              <p class="service-card_text">From custom software to automation, we deliver technology solutions tailored to your business growth.</p>
              <a routerLink="/services/tech-services" class="half-line-btn">Read More</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xl-4">
          <div class="service-card">
            <div class="service-card_img"><img src="/img/service/service_1_6.jpg" alt="Service"></div>
            <div class="service-card_content">
              <div class="service-icon"><img src="/img/icon/service_icon_1_6.svg" alt="Icon"></div>
              <h3 class="service-title box-title h4"><a routerLink="/services/digital-marketing">Digital Marketing</a></h3>
              <p class="service-card_text">Boost your online presence with our SEO, social media, content, and performance marketing services.</p>
              <a routerLink="/services/digital-marketing" class="half-line-btn">Read More</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- <section class="space">
      <div class="container">
          <div class="title-area text-center"><span class="sub-title style2">Pricing Plan</span>
              <h2 class="sec-title">Our Pricing Plan Options.</h2>
          </div>
          <div class="row gy-4 justify-content-center">
              <div class="col-xl-4 col-md-6">
                  <div class="price-card"><span class="offer-tag">Save Over 25%</span>
                      <div class="price-bg-shape"><img src="/img/bg/pricing-box-bg.png" alt="img"></div>
                      <h3 class="price-card_title box-title">Basic Plan</h3>
                      <div class="price-card_content">
                          <h4 class="price-card_price">$25 <span class="duration">/ Month</span></h4>
                          <p class="price-card_text">10,000 monthly active users</p>
                          <div class="available-list">
                              <ul class="checklist">
                                  <li><i class="fas fa-check-circle"></i> Projects and Time Sheet</li>
                                  <li><i class="fas fa-check-circle"></i> Recurring Transations</li>
                                  <li><i class="fas fa-check-circle"></i> Online Payments Service</li>
                                  <li class="unavailable"><i class="fas fa-xmark"></i>Unlimited Client Portal</li>
                                  <li class="unavailable"><i class="fas fa-xmark"></i>Backlink analysis & invoice</li>
                              </ul>
                          </div>
                      </div><a href="pricing.html" class="th-btn">Purchase Order</a>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="price-card active"><span class="offer-tag">Save Over 25%</span>
                      <div class="price-bg-shape"><img src="/img/bg/pricing-box-bg.png" alt="img"></div>
                      <h3 class="price-card_title box-title">Standard Plan</h3>
                      <div class="price-card_content">
                          <h4 class="price-card_price">$35 <span class="duration">/ Month</span></h4>
                          <p class="price-card_text">10,000 monthly active users</p>
                          <div class="available-list">
                              <ul class="checklist">
                                  <li><i class="fas fa-check-circle"></i> Projects and Time Sheet</li>
                                  <li><i class="fas fa-check-circle"></i> Recurring Transations</li>
                                  <li><i class="fas fa-check-circle"></i> Online Payments Service</li>
                                  <li><i class="fas fa-check-circle"></i> Unlimited Client Portal</li>
                                  <li class="unavailable"><i class="fas fa-xmark"></i> Backlink analysis & invoice
                                  </li>
                              </ul>
                          </div>
                      </div><a href="pricing.html" class="th-btn">Purchase Order</a>
                  </div>
              </div>
              <div class="col-xl-4 col-md-6">
                  <div class="price-card"><span class="offer-tag">Save Over 25%</span>
                      <div class="price-bg-shape"><img src="/img/bg/pricing-box-bg.png" alt="img"></div>
                      <h3 class="price-card_title box-title">Premium Plan</h3>
                      <div class="price-card_content">
                          <h4 class="price-card_price">$45 <span class="duration">/ Month</span></h4>
                          <p class="price-card_text">10,000 monthly active users</p>
                          <div class="available-list">
                              <ul class="checklist">
                                  <li><i class="fas fa-check-circle"></i> Projects and Time Sheet</li>
                                  <li><i class="fas fa-check-circle"></i> Recurring Transations</li>
                                  <li><i class="fas fa-check-circle"></i> Online Payments Service</li>
                                  <li><i class="fas fa-check-circle"></i> Unlimited Client Portal</li>
                                  <li><i class="fas fa-check-circle"></i> Backlink analysis & invoice</li>
                              </ul>
                          </div>
                      </div><a href="pricing.html" class="th-btn">Purchase Order</a>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <div class="container mt-5">
      <div class="bg-theme subscribe-sec">
          <div class="row justify-content-between">
              <div class="col-xl-5 col-lg-6">
                  <div class="title-area mb-lg-0">
                      <h2 class="sec-title text-white mb-0">Subscribe Our Newsletter<br class="d-md-block d-none">Get
                          update</h2>
                  </div>
              </div>
              <div class="col-xl-auto col-lg-6 align-self-center">
                  <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                          required=""> <button type="submit" class="th-btn">Subscribe</button></form>
              </div>
          </div>
      </div>
  </div>
  <!-- <footer class="footer-wrapper footer-layout2" data-bg-src="/img/bg/footer_bg_2.png">
      <div class="widget-area">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-md-6 col-xxl-3 col-xl-3">
                      <div class="widget footer-widget">
                          <div class="th-widget-about">
                              <div class="about-logo"><a href="index.html"><img src="/img/logo.svg"
                                          alt="Insurax"></a></div>
                              <p class="about-text">There are several insurance solutions available to address
                                  specific needs and risks that individuals or businesses may face. Best solution is
                                  here.</p>
                              <div class="th-social"><a href="https://www.facebook.com/"><i
                                          class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                          class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                          class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.com/"><i
                                          class="fab fa-behance"></i></a></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-auto">
                      <div class="widget widget_nav_menu footer-widget">
                          <h3 class="widget_title">Company</h3>
                          <div class="menu-all-pages-container">
                              <ul class="menu">
                                  <li><a href="about.html">About Us</a></li>
                                  <li><a href="service.html">Last Services</a></li>
                                  <li><a href="portfolio.html">Photos Gallery</a></li>
                                  <li><a href="blog.html">Blog Standard</a></li>
                                  <li><a href="contact.html">Contact Us</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-auto">
                      <div class="widget footer-widget">
                          <h3 class="widget_title">Information</h3>
                          <div class="th-widget-contact">
                              <div class="info-wrap">
                                  <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                              </div>
                              <div class="info-wrap">
                                  <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                              </div>
                              <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65
                                  </a><a href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-xl-3">
                      <div class="widget footer-widget">
                          <h3 class="widget_title">Recent Post</h3>
                          <div class="recent-post-wrap">
                              <div class="recent-post">
                                  <div class="media-img"><a href="blog-details.html"><img
                                              src="/img/blog/recent-post-1-1.png" alt="Blog Image"></a></div>
                                  <div class="media-body">
                                      <div class="recent-post-meta"><a href="blog.html">21 March, 2023</a></div>
                                      <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Be
                                              prepared for anything With our insurance.</a></h4>
                                  </div>
                              </div>
                              <div class="recent-post">
                                  <div class="media-img"><a href="blog-details.html"><img
                                              src="/img/blog/recent-post-1-2.png" alt="Blog Image"></a></div>
                                  <div class="media-body">
                                      <div class="recent-post-meta"><a href="blog.html">22 June, 2023</a></div>
                                      <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Trust us
                                              to protect what you love most.</a></h4>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copyright-wrap bg-title">
          <div class="container">
              <div class="row justify-content-between">
                  <div class="col-auto">
                      <p class="copyright-text text-center pb-md-0 pb-4"><i class="fal fa-copyright"></i> 2023 All
                          Rights Reserved By <a href="#">Insurax.</a></p>
                  </div>
                  <div class="col-auto">
                      <div class="footer-links">
                          <ul>
                              <li><a href="contact.html">Privacy</a></li>
                              <li><a href="contact.html">Terms & Condition</a></li>
                              <li><a href="about.html">About Us</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer> -->
