<!-- <div class="preloader"><button class="th-btn style2 preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner"><span class="loader"></span></div>
</div> -->
<div class="th-menu-wrapper">
    <div class="th-menu-area text-center"><button class="th-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo"><a href="index.html"><img src="/img/logo.svg" alt="logo lagao 1"></a></div>
        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children"><a href="index.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">Home 01</a></li>
                        <li><a href="home-2.html">Home 02</a></li>
                        <li><a href="home-3.html">Home 03</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a href="appointment.html">Appointment</a></li>
                        <li><a href="pricing.html">Pricing Plan</a></li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="team-details.html">Team Details</a></li>
                        <li><a href="error.html">Error Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Insurance</a>
                    <ul class="sub-menu">
                        <li><a href="service.html">Insurance Page</a></li>
                        <li><a href="service-details.html">Insurance Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">Portfolio</a>
                    <ul class="sub-menu">
                        <li><a href="project.html">Portfolio</a></li>
                        <li><a href="project-details.html">Portfolio Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="#">News</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog Page</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="popup-search-box d-none d-lg-block"><button class="searchClose"><i class="fal fa-times"></i></button>
    <form action="#"><input type="text" placeholder="What are you looking for?"> <button type="submit"><i
                class="fal fa-search"></i></button></form>
</div>
<div class="sidemenu-wrapper d-none d-lg-block">
    <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget">
            <div class="th-widget-about">
                <div class="about-logo"><a href="index.html"><img src="/img/logo.svg" alt="logo lagao 2"></a></div>
                <p class="about-text">There are several insurance solutions available to address specific needs and
                    risks that individuals or businesses may face. Best solution is here.</p>
                <div class="th-social"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                        href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                        href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                        href="https://www.behance.com/"><i class="fab fa-behance"></i></a></div>
            </div>
        </div>
        <div class="widget">
            <h3 class="widget_title">Information</h3>
            <div class="th-widget-contact">
                <div class="info-wrap">
                    <p class="info-wrap_text">3891 Ranchview Dr. Richardson, California 62639</p>
                </div>
                <div class="info-wrap">
                    <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                </div>
                <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 (456) 568 65 </a><a
                        href="mailto:infoinsurax.com" class="info-wrap_link">infoinsurax.com</a></div>
            </div>
        </div>
        <div class="widget widget_nav_menu">
            <h3 class="widget_title">Company</h3>
            <div class="menu-all-pages-container">
                <ul class="menu">
                    <li><a routerLink="/about">About Ussss</a></li>
                    <li><a href="service.html">Last Services</a></li>
                    <li><a href="portfolio.html">Photos Gallery</a></li>
                    <li><a href="blog.html">Blog Standard</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- header start -->

<!-- <header class="th-header header-layout6">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-center justify-content-md-between align-items-center gy-2">
                <div class="col-auto d-none d-md-block">
                    <div class="header-links">
                        <ul>
                            <li><i class="far fa-phone"></i><a href="tel:+1044123456789">+91 99536 56810</a>
                            </li>
                            <li class="d-none d-xl-inline-block"><i class="far fa-location-dot"></i>Office No. 301, i-THUM Building, Tower - A, Sector - 62, Noida</li>
                            <li><i class="far fa-envelope"></i><a href="mailto:infoinsurax.com">customer.care&#64;aadifintech.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-links">
                        <ul>
                            <li class="d-none d-lg-inline-block">
                                <div class="dropdown-link"><a class="dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink1" data-bs-toggle="dropdown"
                                        aria-expanded="false">Language</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                                        <li><a href="#">German</a> <a href="#">French</a> <a href="#">Italian</a> <a
                                                href="#">Latvian</a> <a href="#">Spanish</a> <a href="#">Greek</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="header-social"><span class="social-title">Follow Us:</span> <a
                                        href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> <a
                                        href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a> <a
                                        href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a> <a
                                        href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="sticky-wrapper">
        <div class="sticky-active">
            <div class="menu-area"
            style="background-image: url('/img/update1/bg/pattern_bg_2.png');"
            >
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                      <div class="col-auto">
                        <div class="header-logo">
                          <a href="index.html" style="text-decoration: none; color: #fff; display: inline-block;">
                            <h5 style="margin: 0; font-size: 24px; font-weight: 700; letter-spacing: 1px;">AADI FINTECH</h5>
                          </a>
                        </div>
                      </div>

                        <div class="col-auto">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <nav class="main-menu d-none d-lg-inline-block">
                                        <ul>
                                            <li class="menu-item-has-children"><a routerLink="/">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/">Home 01</a></li>

                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/about">About Us</a></li>
                                                    <li><a routerLink="/appointment">Appointment</a></li>
                                                    <li><a routerLink="/pricing">Pricing Plan</a></li>
                                                    <li><a routerLink="/team">Team</a></li>
                                                    <li><a href="team-details.html">Team Details</a></li>
                                                    <li><a href="error.html">Error Page</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Insurance</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/insurence">Insurance Page</a></li>
                                                    <li><a routerLink="/insurenceDetails">Insurance Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">Portfolio</a>
                                                <ul class="sub-menu">
                                                    <li><a href="project.html">Portfolio</a></li>
                                                    <li><a href="project-details.html">Portfolio Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a href="#">News</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/blog">Blog Page</a></li>
                                                    <li><a routerLink="/blogDetails">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li><a routerLink="/contact">Contact</a></li>
                                        </ul>
                                    </nav><button type="button" class="th-menu-toggle d-inline-block d-lg-none"><i
                                            class="far fa-bars"></i></button>
                                </div>
                                <div class="col-auto d-none d-xl-block">
                                    <div class="header-button"><button type="button"
                                            class="simple-icon me-3 searchBoxToggler"><i
                                                class="far fa-search"></i></button> <a href="contact.html"
                                            class="th-btn style2">Get A Quote<i class="fas fa-arrow-right ms-2"></i></a>
                                        <a href="#" class="simple-icon style2 ms-3 sideMenuToggler"><i
                                                class="fa-sharp fa-solid fa-grid"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="logo-shape"></div>
            </div>
        </div>
    </div>
</header> -->



<!-- header end -->

<app-home-slider></app-home-slider> <!-- use karo template me -->





<!-- section -->

<section class="service-sec7">
  <div class="container">
    <div class="row gy-4 justify-content-center service-wrap">

      <!-- Service 1 -->
      <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
        <div class="service-box style2">
          <div class="service-box_inner">
            <img src="/img/shape/service-box-shape2.png" alt="Shape">
          </div>
          <div class="service-box_icon">
            <img src="/img/icon/service_icon_5_1.svg" alt="Loan Syndication">
          </div>
          <h3 class="service-box_title h4">
            <a href="service-details.html">Loan Syndication</a>
          </h3>
          <p class="service-box_text">
            We arrange structured loan solutions by partnering with multiple banks and NBFCs to fund large projects efficiently.
          </p>
        </div>
      </div>

      <!-- Service 2 -->
      <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
        <div class="service-box style2">
          <div class="service-box_inner">
            <img src="/img/shape/service-box-shape2.png" alt="Shape">
          </div>
          <div class="service-box_icon">
            <img src="/img/icon/service_icon_5_2.svg" alt="Bill Discounting">
          </div>
          <h3 class="service-box_title h4">
            <a href="service-details.html">Bill Discounting</a>
          </h3>
          <p class="service-box_text">
            Unlock working capital by discounting your bills and invoices through our trusted financial partners.
          </p>
        </div>
      </div>

      <!-- Service 3 -->
      <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
        <div class="service-box style2">
          <div class="service-box_inner">
            <img src="/img/shape/service-box-shape2.png" alt="Shape">
          </div>
          <div class="service-box_icon">
            <img src="/img/icon/service_icon_5_3.svg" alt="Banking & Finance">
          </div>
          <h3 class="service-box_title h4">
            <a href="service-details.html">Financial Advisory</a>
          </h3>
          <p class="service-box_text">
            We provide strategic advice for banking, investments, compliance, and customized financial planning.
          </p>
        </div>
      </div>

      <!-- Service 4 -->
      <div class="col-xl-3 col-lg-4 col-md-6 service-box-wrap">
        <div class="service-box style2">
          <div class="service-box_inner">
            <img src="/img/shape/service-box-shape2.png" alt="Shape">
          </div>
          <div class="service-box_icon">
            <img src="/img/icon/service_icon_5_4.svg" alt="Customer Support">
          </div>
          <h3 class="service-box_title h4">
            <a href="service-details.html">Expert Support</a>
          </h3>
          <p class="service-box_text">
            Our dedicated team offers 24/7 support for financial documentation, loan processing, and consultation.
          </p>
        </div>
      </div>

    </div>
  </div>

</section>


<!-- third -->

<div class="overflow-hidden space">
  <div class="container">
      <div class="row align-items-center justify-content-between">
          <div class="col-xl-7 mb-xl-0 mb-40">
              <div class="about-thumb5">
                  <div class="about-counter-wrap">
                      <div class="about-counter1">
                          <h3 class="counter-title h2"><span class="counter-number">500</span>+</h3><span class="counter-text">Successful Projects</span>
                      </div>
                      <div class="about-counter1">
                          <h3 class="counter-title h2"><span class="counter-number">20</span>+</h3><span class="counter-text">Years of Experience</span>
                      </div>
                  </div>
                  <div class="img1"><img class="tilt-active" src="/img/normal/about_5-1.png" alt="About"></div>
              </div>
          </div>
          <div class="col-xl-5">
              <div class="title-area mb-30"><span class="sub-title">About Aadi Fintech</span>
                  <h2 class="sec-title">Empowering Businesses with Financial Solutions</h2>
              </div>
              <p class="mt-n1 mb-30">Aadi Fintech provides expert financial services to businesses, focusing on loan finance, credit ratings, tech services, and more. With over 20 years of experience in banking, fintech consulting, and CRM implementation, we guide businesses through every financial challenge to ensure sustainable growth.</p>
              <div class="row justify-content-between">
                <div class="col-xxl-4 col-xl-3 col-lg-3 col-sm-5 order-sm-2 align-self-end">
                    <div class="about-client-box mb-sm-0 mb-5">
                        <div class="client-thumb-group">
                            <div class="thumb"><img src="/img/testimonial/client-img-5-1.png"
                                    alt="avater"></div>
                            <div class="thumb"><img src="/img/testimonial/client-img-5-2.png"
                                    alt="avater"></div>
                            <div class="thumb"><img src="/img/testimonial/client-img-5-2.png"
                                    alt="avater"></div>
                            <div class="thumb"><img src="/img/testimonial/client-img-5-2.png"
                                    alt="avater"></div>
                            <div class="thumb icon"><i class="fa-regular fa-plus"></i></div>
                        </div><span class="cilent-box_title">Clients Reviews</span>
                        <h4 class="cilent-box_counter"><span class="counter-number">256</span></h4>
                    </div>
                </div>
                <div class="col-xxl-8 col-xl-9 col-lg-6 col-sm-7 order-sm-1">
                    <div class="checklist mb-50">
                        <ul>
                            <li><i class="fa fa-check-circle"></i> Large number of insurance policies</li>
                            <li><i class="fa fa-check-circle"></i>Experience & qualified agents</li>
                            <li><i class="fa fa-check-circle"></i> Experts Team Member</li>
                        </ul>
                    </div><a href="about.html" class="th-btn">Read More<i
                            class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>


<!-- fourth section  -->

<section class="service-sec8 space" [style.background-image]="'url(' + backgroundImage + ')'">
  <div class="container">
    <div class="title-area mb-30 text-center">
      <span class="sub-title">Our Services</span>
      <h2 class="sec-title">Solutions by Aadi Fintech</h2>
    </div>

    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let service of services">
        <ng-template carouselSlide>
          <div class="service-box style3">
            <div class="service-box_thumb">
              <img [src]="service.image" alt="img">
              <div class="service-box_icon">
                <img [src]="service.icon" alt="Icon">
              </div>
            </div>
            <div class="service-box_content">
              <h3 class="service-box_title h4">
                <a href="service-details.html">{{ service.title }}</a>
              </h3>
              <p class="service-box_text">{{ service.text }}</p>
              <a class="icon-btn-with-text" href="service-details.html">
                <i class="fa-solid fa-arrow-right"></i>
                <span>Learn More</span>
              </a>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</section>




<!-- five -->

    <section class="cta-sec7"  style="background-image: url('/img/bg/cta_bg_6.png');">
        <div class="cta-thumb7 shape-mockup d-lg-block d-none" data-top="0" data-left="0"><img
                src="/img/normal/cta7-thumb.png" alt="img"></div>
        <div class="container">
            <div class="row justify-content-end align-items-center">
                <div class="col-lg-5 col-md-8">
                    <div class="title-area mb-0">
                        <h2 class="cta-title h3 text-white">Where Protection Meets Convenience</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0 text-md-end"><a href="contact.html"
                        class="th-btn style3">Contact Us <i class="far fa-arrow-right"></i></a></div>
            </div>
        </div>
    </section>


    <!-- six -->

    <div class="why-area-3 overflow-hidden space">
      <div class="position-relative z-index-3">
          <div class="container">
              <div class="row justify-content-between align-items-xl-center">
                  <div class="col-lg-6 align-self-end order-lg-2">
                      <div class="why-thumb7 mb-lg-0 mb-5"><img src="/img/normal/wcu-thumb-4-1.png" alt="img">
                          <div class="why-thumb-wrap">
                              <h4 class="about-counter_title"><span class="counter-number">22</span>+ Years of Industry Experience</h4>
                              <div class="thumb"><img src="/img/normal/image-2.png" alt="img"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 order-lg-1">
                      <div class="me-xxl-5 pe-xxl-4">
                          <div class="title-area mb-40 text-center text-lg-start">
                              <span class="sub-title">Why Choose Aadi Fintech</span>
                              <h2 class="sec-title">Reliable Financial Solutions to Fuel Your Growth</h2>
                              <p class="sec-text mt-30">Aadi Fintech offers expert guidance across loan finance, credit rating, and tech-enabled financial services. We combine deep domain knowledge with modern technology to deliver strategic solutions tailored to your business needs.</p>
                          </div>
                      </div>
                      <div class="feature-slider-wrap">
                          <div class="row th-carousel feature-slider" data-slide-show="3" data-lg-slide-show="2"
                              data-md-slide-show="2" data-sm-slide-show="2" data-arrows="false">
                              <div class="col-xl-3 col-lg-4 col-md-6">
                                  <div class="service-box style2">
                                      <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-1.svg" alt="Icon"></div>
                                      <h3 class="service-box_title h6"><a href="service-details.html">Smart Loan Consulting</a></h3>
                                      <p class="service-box_text">Get expert assistance on secured & unsecured funding solutions.</p>
                                  </div>
                              </div>
                              <div class="col-xl-3 col-lg-4 col-md-6">
                                  <div class="service-box style2">
                                      <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-2.svg" alt="Icon"></div>
                                      <h3 class="service-box_title h6"><a href="service-details.html">Fast & Transparent Process</a></h3>
                                      <p class="service-box_text">Seamless documentation and faster turnaround with expert handling.</p>
                                  </div>
                              </div>
                              <div class="col-xl-3 col-lg-4 col-md-6">
                                  <div class="service-box style2">
                                      <div class="service-box_icon"><img src="/img/icon/wcu-icon-2-3.svg" alt="Icon"></div>
                                      <h3 class="service-box_title h6"><a href="service-details.html">Tech-Driven Solutions</a></h3>
                                      <p class="service-box_text">Leverage CRM, digital tools, and data analytics to scale efficiently.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


    <!-- seven -->

    <div class="container">
        <ngx-slick-carousel #slickModal="slick-carousel"
          class="carousel"
          [config]="slideConfig">

          <div ngxSlickItem *ngFor="let item of projectItems" class="slide">
            <div class="project-card style3">
              <div class="project-img">
                <img [src]="item.img" alt="project image" >
              </div>
              <div class="project-content">
                <div class="media-left">
                  <h6 class="project-subtitle">{{ item.subtitle }}</h6>
                  <h4 class="project-title">
                    <a [href]="item.link">{{ item.title }}</a>
                  </h4>
                </div>
                <div class="media-body">
                  <a [href]="item.img" class="icon-btn" tabindex="-1">
                    <i class="fa-solid fa-arrow-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </ngx-slick-carousel>
      </div>



    <!-- eight -->

    <section class="process-area5 overflow-hidden space"
    style="background-image: url('/img/shape/process-bg-shape.png');"
>
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title">Work Process</span>
            <h2 class="sec-title">Our Simple 4-Step Process at Aadi Fintech</h2>
        </div>
        <div class="process-wrapper">
            <div class="process-line"><img src="/img/shape/process-line.png" alt="img"></div>
            <div class="row gy-40">
                <div class="col-sm-6 col-xl-3">
                    <div class="process-box">
                        <div class="process-box_img"><img src="/img/normal/process-thumb-2-1.png" alt="process">
                            <div class="process-box_icon"><span class="number1">01</span></div>
                        </div>
                        <div class="process-box_content">
                            <h2 class="process-box_title">Understanding Your Needs</h2>
                            <p class="process-box_text">We analyze your business profile to understand funding, rating, or tech service needs.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="process-box">
                        <div class="process-box_img"><img src="/img/normal/process-thumb-2-2.png" alt="process">
                            <div class="process-box_icon"><span class="number2">02</span></div>
                        </div>
                        <div class="process-box_content">
                            <h2 class="process-box_title">Schedule Consultation</h2>
                            <p class="process-box_text">Our experts connect with you for a strategic discussion to define your financial goals.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="process-box">
                        <div class="process-box_img"><img src="/img/normal/process-thumb-2-3.png" alt="process">
                            <div class="process-box_icon"><span class="number3">03</span></div>
                        </div>
                        <div class="process-box_content">
                            <h2 class="process-box_title">Customized Solution</h2>
                            <p class="process-box_text">Based on your inputs, we recommend loan options, compliance services, or tech tools.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="process-box">
                        <div class="process-box_img"><img src="/img/normal/process-thumb-2-4.png" alt="process">
                            <div class="process-box_icon"><span class="number4">04</span></div>
                        </div>
                        <div class="process-box_content">
                            <h2 class="process-box_title">Implementation & Support</h2>
                            <p class="process-box_text">We help you execute the solution, coordinate with banks, and provide ongoing support.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




    <!-- nine -->
    <div class="bg-title contact-sec-2" style="background-image: url('/img/bg/contact-bg2.png');">
      <div class="contact-border-shape shape-mockup d-xl-block d-none">
        <img src="/img/shape/contact-img-border.png" alt="Aadi Fintech Border" data-top="0" data-left="0">
      </div>
      <div class="contact-thumb2 shape-mockup d-xl-block d-none h-100" style="background-image: url('/img/shape/contact-img-shape.png');">
        <img src="/img/normal/contact-2-thumb.png" alt="Contact Thumb">
      </div>
      <div class="container">
        <div class="contact-area">
          <div class="row justify-content-end">
            <div class="col-xl-6 align-self-end space-bottom">
              <div class="contact-form-wrap">
                <div class="contact-video shape-mockup d-xl-block d-none" data-top="220px" data-left="-210px">
                  <a href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" class="play-btn style2 popup-video"><i class="fas fa-play"></i></a>
                </div>
                <div class="title-area mb-40">
                  <span class="sub-title">Free Consultation</span>
                  <h2 class="sec-title">Get Financial Assistance Now</h2>
                </div>
                <form action="https://themeholy.com/html/insurax/demo/mail.php" method="POST" class="contact-form2">
                  <ul class="insurance-tab nav nav-pills mb-40" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="loan-tab" data-bs-toggle="pill" data-bs-target="#loan" type="button" role="tab">
                        <i class="fa-solid fa-building-columns"></i> Business Loan
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="discounting-tab" data-bs-toggle="pill" data-bs-target="#discounting" type="button" role="tab">
                        <i class="fa-solid fa-file-invoice-dollar"></i> Bill Discounting
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="funding-tab" data-bs-toggle="pill" data-bs-target="#funding" type="button" role="tab">
                        <i class="fa-solid fa-hand-holding-dollar"></i> Funding Solutions
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="compliance-tab" data-bs-toggle="pill" data-bs-target="#compliance" type="button" role="tab">
                        <i class="fa-solid fa-scale-balanced"></i> Compliance Advisory
                      </button>
                    </li>
                  </ul>

                  <div class="tab-content" id="pills-tabContent">
                    <!-- Business Loan -->
                    <div class="tab-pane fade show active" id="loan" role="tabpanel">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group"><input type="text" class="form-control style-white" name="name" placeholder="Full Name"></div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group"><input type="email" class="form-control style-white" name="email" placeholder="Email Address"></div>
                        </div>
                      </div>
                      <div class="form-group"><select name="service" class="form-select style-white">
                        <option value="" hidden selected>Select Loan Type</option>
                        <option value="SME Loan">SME Loan</option>
                        <option value="Working Capital">Working Capital</option>
                        <option value="Machinery Loan">Machinery Loan</option>
                      </select></div>
                      <div class="btn-group form-btn col-12"><button class="th-btn">Request Quote <i class="far fa-arrow-right"></i></button></div>
                    </div>

                    <!-- Bill Discounting -->
                    <div class="tab-pane fade" id="discounting" role="tabpanel">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group"><input type="text" class="form-control style-white" name="name" placeholder="Full Name"></div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group"><input type="email" class="form-control style-white" name="email" placeholder="Email Address"></div>
                        </div>
                      </div>
                      <div class="form-group"><select name="discounting-type" class="form-select style-white">
                        <option value="" hidden selected>Select Invoice Type</option>
                        <option value="Trade Invoice">Trade Invoice</option>
                        <option value="Purchase Order">Purchase Order</option>
                      </select></div>
                      <div class="btn-group form-btn col-12"><button class="th-btn">Request Quote <i class="far fa-arrow-right"></i></button></div>
                    </div>

                    <!-- Funding Solutions -->
                    <div class="tab-pane fade" id="funding" role="tabpanel">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group"><input type="text" class="form-control style-white" name="name" placeholder="Full Name"></div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group"><input type="email" class="form-control style-white" name="email" placeholder="Email Address"></div>
                        </div>
                      </div>
                      <div class="form-group"><select name="funding-type" class="form-select style-white">
                        <option value="" hidden selected>Select Funding Option</option>
                        <option value="Equity Funding">Equity Funding</option>
                        <option value="Debt Funding">Debt Funding</option>
                        <option value="Bridge Funding">Bridge Funding</option>
                      </select></div>
                      <div class="btn-group form-btn col-12"><button class="th-btn">Request Quote <i class="far fa-arrow-right"></i></button></div>
                    </div>

                    <!-- Compliance Advisory -->
                    <div class="tab-pane fade" id="compliance" role="tabpanel">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="form-group"><input type="text" class="form-control style-white" name="name" placeholder="Full Name"></div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group"><input type="email" class="form-control style-white" name="email" placeholder="Email Address"></div>
                        </div>
                      </div>
                      <div class="form-group"><select name="compliance" class="form-select style-white">
                        <option value="" hidden selected>Select Compliance Type</option>
                        <option value="RERA">RERA Compliance</option>
                        <option value="Company Law">Company Law Advisory</option>
                        <option value="Financial Audit">Financial Audit</option>
                      </select></div>
                      <div class="btn-group form-btn col-12"><button class="th-btn">Request Quote <i class="far fa-arrow-right"></i></button></div>
                    </div>
                  </div>
                </form>

                <div class="skill-feature mt-40 mb-0">
                  <h5 class="skill-feature_title">Current Project Value</h5>
                  <div class="progress">
                    <div class="progress-bar" style="width: 85%;">
                      <div class="progress-value">₹4.2 Cr</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <!-- ten -->

    <div class="testimonial-sec5 overflow-hidden space-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="title-area">
                <span class="sub-title">Testimonials</span>
                <h2 class="sec-title">What client say About Us</h2>
              </div>
              <!-- No need for slider arrows here if you don't need them -->
            </div>
            <div class="col-lg-8">
              <ngx-slick-carousel class="testi-slider5" [config]="slideConfig2">
                <div ngxSlickItem *ngFor="let item of testimonials" class="testi-box5">
                  <div class="testi-box_wrap">
                    <div class="testi-box_avater">
                      <div class="thumb">
                        <img [src]="item.img" alt="testimonial">
                      </div>
                    </div>
                    <div class="testi-box_content">
                      <h4 class="testi-box_title h6">“{{ item.title }}”
                        <span class="review-rating">
                          <span *ngFor="let star of item.rating">
                            <i class="fas fa-star"></i>
                          </span>
                          <span *ngFor="let star of item.emptyRating">
                            <i class="far fa-star"></i>
                          </span>
                        </span>
                      </h4>
                      <p class="testi-box_text">{{ item.text }}</p>
                      <div class="media">
                        <div class="media-left">
                          <h3 class="testi-box_name h6">{{ item.name }}</h3>
                          <span class="testi-box_desig">{{ item.designation }}</span>
                        </div>
                        <div class="media-body"><i class="fa fa-quote-right"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
        </div>
      </div>



      <!-- ten for demo -->





    <!-- ten 2 -->

    <section class="space" id="blog-sec">
        <!-- <div class="container">
            <div class="title-area text-center"><span class="sub-title">Blog & News</span>
                <h2 class="sec-title">Latest Blog & News</h2>
            </div>
            <div class="row slider-shadow th-carousel" id="blogSlide1" data-slide-show="3" data-lg-slide-show="2"
                data-md-slide-show="2" data-sm-slide-show="1" data-arrows="true">
                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img"><img src="/img/blog/blog_1_1.jpg" alt="blog image"></div>
                        <div class="blog-card_content">
                            <div class="blog-meta"><a href="blog.html"><i class="far fa-user"></i>Annette Black</a> <a
                                    href="blog.html"><i class="fal fa-calendar-alt"></i>12 Jun. 2023</a></div>
                            <h3 class="blog-title border-bottom box-title"><a href="blog-details.html">Insurance is a
                                    highly Regulated industry.</a></h3><a href="blog-details.html"
                                class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img"><img src="/img/blog/blog_1_2.jpg" alt="blog image"></div>
                        <div class="blog-card_content">
                            <div class="blog-meta"><a href="blog.html"><i class="far fa-user"></i>Alone Mask</a> <a
                                    href="blog.html"><i class="fal fa-calendar-alt"></i>13 Jul. 2023</a></div>
                            <h3 class="blog-title border-bottom box-title"><a href="blog-details.html">Protecting your
                                    assets, Securing your future.</a></h3><a href="blog-details.html"
                                class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="blog-card">
                        <div class="blog-img"><img src="/img/blog/blog_1_3.jpg" alt="blog image"></div>
                        <div class="blog-card_content">
                            <div class="blog-meta"><a href="blog.html"><i class="far fa-user"></i>Alex Mack</a> <a
                                    href="blog.html"><i class="fal fa-calendar-alt"></i>14 Aug. 2023</a></div>
                            <h3 class="blog-title border-bottom box-title"><a href="blog-details.html">Be prepared for
                                    anything With our insurance.</a></h3><a href="blog-details.html"
                                class="half-line-btn">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>


    <div class="container">
        <div class="bg-theme subscribe-sec">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="title-area mb-lg-0">
                        <h2 class="sec-title text-white mb-0">Subscribe Our Newsletter<br class="d-md-block d-none">Get
                            update</h2>
                    </div>
                </div>
                <div class="col-xl-auto col-lg-6 align-self-center">
                    <form class="newsletter-form"><input class="form-control" type="email" placeholder="Email Address"
                            required=""> <button type="submit" class="th-btn">Subscribe</button></form>
                </div>
            </div>
        </div>
    </div>



    <!-- footer -->
<!--
    <footer class="footer-wrapper footer-layout2"
    style="background-image: url('/img/bg/footer_bg_2.png');">
        <div class="widget-area">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 col-xxl-3 col-xl-3">
                        <div class="widget footer-widget">
                            <div class="th-widget-about">
                                <div class="about-logo"><a href="index.html"><img src="/img/logo.svg"
                                            alt="Insurax"></a></div>
                                            <div class="about-logo">
                                              <a href="index.html" style="font-size: 24px; font-weight: bold; color: #fff; text-transform: uppercase;">
                                                AADI FINTECH
                                              </a>
                                            </div>

                                <p class="about-text">There are several insurance solutions available to address
                                  Empowering businesses with strategic financial solutions, innovative fintech services, and expert wealth management insights to drive sustainable growth.</p>
                                <div class="th-social"><a href="https://www.facebook.com/"><i
                                            class="fab fa-facebook-f"></i></a> <a href="https://www.twitter.com/"><i
                                            class="fab fa-twitter"></i></a> <a href="https://www.linkedin.com/"><i
                                            class="fab fa-linkedin-in"></i></a> <a href="https://www.behance.com/"><i
                                            class="fab fa-behance"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget widget_nav_menu footer-widget">
                            <h3 class="widget_title">Useful Links</h3>
                            <div class="menu-all-pages-container">
                                <ul class="menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="service.html">Services</a></li>
                                    <li><a href="portfolio.html">Become Partner</a></li>
                                    <li><a href="blog.html">Our Team</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-auto">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Information</h3>
                            <div class="th-widget-contact">
                                <div class="info-wrap">
                                    <p class="info-wrap_text">i-THUM Building, Tower - A,
                                      Sector - 62, Noida, Uttar Pradesh - 201301</p>
                                </div>
                                <div class="info-wrap">
                                    <p class="info-wrap_text">Mon-Fri : 09.00 am-05.00 pm</p>
                                </div>
                                <div class="info-wrap"><a href="tel:1145656865" class="info-wrap_link">+11 9953656810
                                    </a><a href="mailto:infoinsurax.com" class="info-wrap_link">customer.care&#64;aadifintech.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="widget footer-widget">
                            <h3 class="widget_title">Recent Post</h3>
                            <div class="recent-post-wrap">
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img
                                                src="/img/blog/recent-post-1-1.png" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <div class="recent-post-meta"><a href="blog.html">21 March, 2023</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Be
                                                prepared for anything With our insurance.</a></h4>
                                    </div>
                                </div>
                                <div class="recent-post">
                                    <div class="media-img"><a href="blog-details.html"><img
                                                src="/img/blog/recent-post-1-2.png" alt="Blog Image"></a></div>
                                    <div class="media-body">
                                        <div class="recent-post-meta"><a href="blog.html">22 June, 2023</a></div>
                                        <h4 class="post-title"><a class="text-inherit" href="blog-details.html">Trust us
                                                to protect what you love most.</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap bg-title">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <p class="copyright-text text-center pb-md-0 pb-4"><i class="fal fa-copyright"></i> Website developed by <a href="#">Aadi Fintech.</a></p>
                    </div>
                    <div class="col-auto">
                        <div class="footer-links">
                            <ul>
                                <li><a href="contact.html">Privacy</a></li>
                                <li><a href="contact.html">Terms & Condition</a></li>
                                <li><a href="about.html">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer> -->
